@font-face {
    font-family: 'abeezeeitalic';
    src: url('../fonts/abeezee-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'abeezeeregular';
    src: url('../fonts/abeezee-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mazzardh_bold';
    src: url('../fonts/mazzardh-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mazzardh_light';
    src: url('../fonts/mazzardh-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mazzardh_medium';
    src: url('../fonts/mazzardh-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mazzardl_medium';
    src: url('../fonts/mazzardl-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mazzardl_regular';
    src: url('../fonts/mazzardl-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}