@font-face {
  font-family: 'hm';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: local('../fonts/HelveticaNeueCyr-Medium'), url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'hh';
  src: url('../fonts/HelveticaNeueCyr-Heavy.eot');
  src: local('../fonts/HelveticaNeueCyr-Heavy'), url('../fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Heavy.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'hbl';
  src: url('../fonts/HelveticaNeueCyr-Black.eot');
  src: local('../fonts/HelveticaNeueCyr-Black'), url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'hul';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
  src: local('../fonts/HelveticaNeueCyr-UltraLight'), url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'), url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'hr';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: local('../fonts/HelveticaNeueCyr-Roman'), url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hb';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: local('../fonts/HelveticaNeueCyr-Bold'), url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'hl';
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src: local('../fonts/HelveticaNeueCyr-Light'), url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ht';
  src: url('../fonts/HelveticaNeueCyr-Thin.eot');
  src: local('../fonts/HelveticaNeueCyr-Thin'), url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: hr;
  color: #212121;
  overflow-x: hidden;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: auto;
  position: relative;
}
@media (max-width: 1240px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
header {
  padding: 36px 0px;
  border-bottom: 1px solid #ededed;
}
.top__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  cursor: pointer;
}
.search .svg {
  width: 21px;
  height: 21px;
}
.search:hover .svg path {
  fill: #cf5249;
}
.logo {
  font-size: 25px;
}
.menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.menu .menu__item {
  list-style-type: none;
  margin-right: 50px;
}
.menu .menu__item:nth-last-child(1) {
  margin-right: 0px;
}
.menu .menu__item .active {
  color: #cf5249;
  text-decoration: none;
}
.menu .menu__item .menu__link {
  text-decoration: none;
  color: #212121;
  transition: 0.5s;
}
.menu .menu__item .menu__link:hover {
  color: #cf5249;
}
.menu .submenu {
  background: #f6f6f6;
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  padding: 10px 10px;
  top: 20px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
.menu .submenu .sub__item {
  list-style-type: none;
  margin-bottom: 10px;
}
.menu .submenu .sub__item .sub__link {
  text-decoration: none;
  font-size: 15px;
  color: #212121;
  transition: 0.5s;
}
.menu .submenu .sub__item .sub__link:hover {
  color: #cf5249;
}
.menu .has-children {
  position: relative;
}
.menu .has-children:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.menu .has-children:hover .menu__link:after {
  transform: rotate(180deg);
}
.menu .has-children .menu__link {
  display: flex;
  align-items: center;
}
.menu .has-children .menu__link:after {
  content: "";
  display: flex;
  background: url("../icons/arrow-down-sign-to-navigate.svg");
  width: 9px;
  height: 9px;
  background-size: cover;
  margin-left: 5px;
  transition: 0.5s;
}
.burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.burger span {
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  background: #212121;
  transition: 0.5s;
}
.burger span:nth-last-child(1) {
  margin-bottom: 0;
}
.burger:hover span {
  background: #cf5249;
}
.burger:hover span:nth-child(2) {
  width: 20px;
}
.burger:hover span:nth-child(3) {
  width: 10px;
}
.content__row {
  display: flex;
  justify-content: space-between;
}
.content__main {
  width: 68%;
}
.sidebar {
  width: 30%;
  box-sizing: border-box;
}
.menu__content ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}
.menu__content ul li {
  list-style-type: none;
  background: #ffe2e0;
  border-radius: 10px;
  padding: 0px 0px;
  box-sizing: border-box;
  transition: 0.5s;
}
.menu__content ul li a {
  color: #cf5249;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 11px;
  padding: 5px 10px;
  display: flex;
  transition: 0.5s;
}
.menu__content ul li:hover {
  background: #cf5249;
}
.menu__content ul li:hover a {
  color: #ffffff;
}
.news__main__title {
  font-size: 25px;
  font-family: hm;
  margin: 0;
  margin-bottom: 35px;
}
.news__title {
  margin: 0;
  padding-right: 80px;
}
.news__title a {
  transition: 0.5s;
  color: #212121;
  text-decoration: none;
  font-size: 15.54px;
  font-family: hm;
  line-height: 23px;
}
.news__img {
  overflow: hidden;
}
.news__img img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
  display: flex;
}
.news__top {
  display: flex;
  margin-bottom: 15px;
}
.news__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  padding-left: 15px;
}
.play .svg {
  width: 40px;
  height: 40px;
}
.play .svg path {
  fill: #cf5249;
  transition: 0.5s;
}
.play:hover .svg path {
  fill: #da231b;
}
.favorite {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #ccc;
}
.favorite .svg {
  width: 17px;
  height: 17px;
}
.favorite .svg path {
  fill: #cf5249;
}
.record {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #ccc;
}
.record img {
  width: initial;
}
.news__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news {
  width: 48%;
  display: flex;
  margin-bottom: 30px;
}
.news:hover .news__title a {
  color: #cf5249;
}
.news:hover .news__img img {
  transition: 0.5s;
  transform: scale(1.1);
}
.news__block {
  margin-bottom: 50px;
}
.news__main__img {
  margin-bottom: 30px;
}
.sidebar__block .news {
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}
.sidebar__block .news .news__top {
  justify-content: space-between;
}
.sidebar__block .news .news__buttons {
  padding-left: 0px;
}
.sidebar__block .news__title a {
  font-size: 14px;
}
.first {
  background: #f6f6f6;
  position: relative;
}
.sidebar__title {
  font-size: 17px;
  font-family: 'hm';
  padding-top: 40px;
  margin-bottom: 35px;
  padding-left: 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.hidden__block {
  background: #f6f6f6;
  width: 1000%;
  height: -webkit-fill-available;
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  z-index: 1;
}
.active__news {
  position: relative;
}
.active__news .active__title {
  font-family: hm;
  font-size: 25px;
  color: #ffffff;
  position: absolute;
  top: 35px;
  left: 35px;
}
.slider__block .news {
  width: 100%;
}
.slider__title {
  display: flex;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 60px;
}
.slider__title .line {
  height: 1px;
  width: -webkit-fill-available;
  background: #e4e4e4;
}
.slider__txt {
  font-size: 20px;
  font-family: 'hm';
  text-transform: uppercase;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
}
.appendDots {
  margin-top: 40px;
  margin-bottom: 85px;
}
.appendDots ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.appendDots .slick-active {
  background: #cf5249;
}
.appendDots li {
  list-style-type: none;
  background: #d3d3d3;
  height: 3px;
  width: -webkit-fill-available;
  box-sizing: border-box;
  margin-right: 10px;
  cursor: pointer;
}
.appendDots li button {
  font-size: 0px;
  background: transparent;
  outline: none;
  border: 0;
}
footer {
  background: #171717;
  padding: 35px 0;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy {
  flex-grow: 1;
  font-size: 14px;
  color: #bebebe;
  font-family: 'Open Sans';
}
.footer__menu ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.footer__menu ul li {
  list-style-type: none;
  margin-right: 25px;
}
.footer__menu ul li:nth-last-child(1) {
  margin-right: 0px;
}
.footer__menu ul li a {
  font-size: 14px;
  color: #bebebe;
  font-family: 'Open Sans';
  text-decoration: none;
}
.footer__menu ul li a:hover {
  color: #ffffff;
}
.open {
  width: 100%;
  height: -webkit-fill-available;
  position: fixed;
  z-index: 1000;
  top: 0;
  background: #fff;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.opened {
  visibility: visible;
  opacity: 1;
}
.close {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35px;
  right: 0;
  background: #cf5249;
  cursor: pointer;
}
.close .svg {
  width: 16px;
  height: 16px;
}
.close .svg path {
  fill: #ffffff;
}
.hid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.hidden__row {
  display: flex;
  justify-content: center;
}
.hiiden__menu {
  width: 600px;
  margin: 0 auto;
}
.hiiden__menu ul {
  padding: 0;
  margin: 0;
  margin-right: 50px;
}
.hiiden__menu ul:nth-last-child(1) {
  margin-right: 0;
}
.hiiden__menu ul .hidden__active a {
  color: #cf5249;
}
.hiiden__menu ul li {
  list-style-type: none;
  margin-bottom: 25px;
}
.hiiden__menu ul li a {
  font-family: hb;
  color: #212121;
  text-decoration: none;
  transition: 0.5s;
}
.hiiden__menu ul li a:hover {
  color: #cf5249;
}
.item__search {
  width: 800px;
  margin: 0 auto;
}
.item__search button {
  border: none;
  outline: none;
  background: #e6e6e6;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
}
.item__search button .svg {
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.item__search button .svg path {
  fill: #000000;
}
input.sear {
  width: 90%;
  border: none;
  outline: none;
  background: #e6e6e6;
  border-radius: 15px 0px 0px 15px;
  padding: 15px 20px;
  box-sizing: border-box;
}
form.item__search {
  display: flex;
}
