@font-face {
    font-family: 'Druk Wide';
    src: url('../fonts/e7fa3e0f70e1466b2f73ee1ac39c8c30.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Bicubik Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Bicubik.woff') format('woff');
}

@font-face {
    font-family: 'MagistralC';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MagistralC.woff') format('woff');
    }
    

    @font-face {
    font-family: 'MagistralC Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MagistralC-Bold.woff') format('woff');
    }



