.section1 {
    background: url('../img/fon1.png') no-repeat center;
    background-size: cover;
    padding-top: 20px;
    position: relative;
    padding-bottom: 100px;
}

.section1__title {
    margin-top: 60px;
    text-align: right;
    font-family: 'Druk Wide';
    font-weight: bold;
    font-size: 61px;
    line-height: 69px;
    margin-bottom: 50px;

    @media screen and (max-width: 1024px) {
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 41px;
        line-height: 49px;
    }
}

.section1__block {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.section1__row {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-end;
    }
}

.section1__content {
    max-width: 590px;
    width: 100%;
}

.section1__photo {
    margin-right: 90px;
    position: relative;
    z-index: 1;

    img {
        position: relative;
        z-index: 1;
    }
    @media screen and (max-width: 1024px) {
        margin-right: 0;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }
}

.section1__txt {
    text-align: right;
    font-size: 16px;
    line-height: 24px;
    color: #A5ADCF;
    margin-bottom: 50px;
}

.section1__buttons {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.button1 {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #00C998;
    box-shadow: 0px 5px 22px rgba(0, 201, 152, 0.44);
    backdrop-filter: blur(21.5px);
    border-radius: 88px;
    padding: 23px 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bicubik Regular';
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease 0s;
    margin-right: 25px;

    @media screen and (max-width: 1024px) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    &:hover {
        opacity: 0.7;
    }

    &::after {
        content: '';
        width: 13px;
        height: 12px;
        mask-image: url('../img/arrow__button.svg');
        mask-repeat: no-repeat;
        mask-size: cover;
        background: #fff;
        display: block;
        margin-left: 10px;
    }
}

.button2 {
    background: #FFFFFF;
    border: 1px solid #00C998;
    box-shadow: 0px 5px 22px rgba(217, 180, 227, 0.44);
    backdrop-filter: blur(21.5px);
    
    border-radius: 88px;
    padding: 23px 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bicubik Regular';
    font-size: 13px;
    color: #171B33;
    text-decoration: none;
    transition: 0.6s ease 0s;
    

    &:hover {
        opacity: 0.7;
    }

    &::after {
        content: '';
        width: 13px;
        height: 12px;
        mask-image: url('../img/arrow__button.svg');
        mask-repeat: no-repeat;
        mask-size: cover;
        background: #171B33;
        display: block;
        margin-left: 10px;
    }
}

.section1__txt2 {
    margin-top: 25px;
    text-align: right;
    font-family: 'Druk Wide';
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}

.section1__decor1 {
    position: absolute;
    top: 300px;
    left: 0;
    z-index: 0;
}

.section1__decor2 {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 0;
}

.section1__decor3 {
    position: absolute;
    bottom: -70px;
    left: -70px;
    z-index: 0;
}

.calc {
    background: rgba(18, 20, 36, 0.3);
    border: 1px solid rgba(0, 131, 86, 0.35);
    box-shadow: 0px 4px 127px rgba(0, 168, 121, 0.49);
    backdrop-filter: blur(57px);
    border-radius: 14px;
    margin-top: 120px;
    margin-bottom: 75px;
    padding: 23px 87px;
    display: flex;
    justify-content: space-between;
    direction: rtl;

    @media screen and (max-width: 1024px) {
        margin-top: 30px;
        padding: 23px 23px;
        flex-wrap: wrap;
    }
}

.calc__item {
    border-right: 1px solid #09272C;
    padding-right: 50px;
    padding: 0 20px;

    @media screen and (max-width: 1024px) {
        padding-right: 0;

        &:nth-child(1) {
            width: 100%;
            border: none;
            margin-bottom: 30px;
        }

        &:nth-child(2) {
            width: 30%;
            border: none;
        }

        &:nth-child(3) {
            width: 30%;
            border: none;
        }

        &:nth-child(4) {
            width: 30%;
            border: none;
        }
    }

    &:nth-last-child(1) {
        border: none;
    }
}







.input-container {
    background: linear-gradient(121.45deg, rgba(18, 20, 36, 0.44) 74.73%, rgba(22, 112, 88, 0.44) 131.29%);
    border: 1px solid rgba(0, 131, 86, 0.35);
    backdrop-filter: blur(23.5px);
    border-radius: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 26px;
    margin-bottom: 17px;
}

 




  .input-container input {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    outline: none;

    
  }

  .currency {
    border-right: 1px solid #00835659;
    padding-right: 15px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 300;
  }

  .slider {
    width: 300px;
    -webkit-appearance: none;
    appearance: none;
    height: 7px;
    border-radius: 6px;
    background: linear-gradient(to right, #00c08b 50%, #111 50%);
    
    outline: none;
    transition: background 450ms ease-in;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    
  }

  .slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    direction: rtl;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 13px;
  }

  .calc__name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .days {
    border: none;
    outline: none;
    background: transparent;
    font-size: 27px;
    font-family: 'Druk Wide';
    font-weight: bold;
    color: #fff;
    width: 100px;

    @media screen and (max-width: 1024px) {
        font-size: 12px;
    }
  }

  /* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.calc__summ {
    display: flex;
    font-size: 27px;
    font-family: 'Druk Wide';
    font-weight: bold;
    color: #fff;

    @media screen and (max-width: 1024px) {
        font-size: 12px;
    }
}


.review1__item {
    video {
        height: 600px;
        max-width: 100%;
        object-fit: cover;
        touch-action: manipulation;

        @media screen and (max-width: 1024px) {
           height: 600px;
           max-width: 100%;
           
            
        }
    }
}


.section1__row2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    text-transform: uppercase;
    direction: rtl;



    @media screen and (max-width: 1024px) {
        flex-direction: column;

    }
}

.section1__row2__left {
    width: 48%;
    background: linear-gradient(126.92deg, #FCFBF8 28.55%, #00C998 73.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 38px;
    line-height: 43px;
    font-family: 'Druk Wide';
    font-weight: bold;
    text-align: right;


    @media screen and (max-width: 1024px) {
        width: 100%;
        margin-bottom: 30px;
    }
}

.section1__row2__right {
    width: 48%;
    font-size: 15px;
    line-height: 136%;
    color: #A5ADCF;
    font-weight: 300;
    text-align: right;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.section1__row2__text {
    font-family: 'Druk Wide';
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
}

.reviews1 {
    margin-top: 100px;

    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
}

.review1__swiper {
    overflow: hidden;
}

.sw__pagination {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: #fff;
}

.swiper-pagination-bullet-active {
    background: #00C998;
}

