.block {
  background: red;
}

.plisuk__popup__back {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.opened__back {
  opacity: 1;
  visibility: visible;
}