.brands {
    background: #232323;
}

.brands__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand__item {
    transition: 0.5s ease 0s;
    opacity: 0.4;
    width: calc(100% / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 20px;
    height: 100px;
    

    img {
        width: auto;
        height: inherit;
        max-height: 70px;
        object-fit: contain;
    }

    &:hover {
        background: #1E4BBE;
        opacity: 1;
    }
    
}