.last__projects {
    overflow: hidden;
    padding-bottom: 160px;
    padding-top: 80px;
    position: relative;
}

.last__projects__title {
    font-size: 50px;
    font-weight: 700;
    color: #333333;
    margin-top: 0px;
    display: flex;
    flex-direction: column;

    &::after {
        content: "";
        width: 60px;
        height: 2px;
        background: #1E4BBE;
        margin-top: 15px;
    }
}

.sertificate {

    .swiper-slide {

        .vertical {

            img {
                height: 350px;
                width: 100%;
                object-fit: contain;
               
            }
            
        }

    }
}

.sertificates {
    margin-bottom: 80px;
    position: relative;

    .slogan1 {
        bottom: -50px;
        position: absolute;
        right: 0;
    }
}


.sertificate__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sert__arrows {

    .sert-button-prev {
        cursor: pointer;
        transition: 0.5s ease 0s;
        opacity: 0.7;
        margin-bottom: 20px;

        &:hover {
            opacity: 1;
        }
    }

    .sert-button-next {
        cursor: pointer;
        transition: 0.5s ease 0s;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

}

.last__projects-main {
    max-width: 1230px;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.last__projects__left {
    width: 67%;
    height: 532px;
    overflow-y: scroll;


    /* полоса прокрутки (скроллбар) */
&::-webkit-scrollbar {
    width: 4px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #DBE0E2;
}

/* ползунок скроллбара */
&::-webkit-scrollbar-thumb {
    background-color: #1E4BBE;
    border-radius: 0em;
    box-shadow: inset 1px 1px 10px #1E4BBE;
}

&::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

/* Стрелки */

&::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    display: none;
}

&::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    display: none;
}

&::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    display: none;
}

&::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    display: none;
}

    
}

.last__projects__row {
    display: flex;
    justify-content: space-between;
    transition: 0.5s ease 0s;

    &:hover {
        box-shadow: 0px 7px 36px rgba(0, 0, 0, 0.09);


        .project__left {
            
            background: #fafafa;

            .service__link {
                opacity: 1;
                visibility: visible;

                .readmore__arrow {
                    background: #1E4BBE;

                    &::after {
                        background: #ffffff;
                    }
                }

                
            }

            .project__title {
                color: #1E4BBE;
            }

        }

        .last__project__img {
            opacity: 1;
            visibility: visible;
        }
    }
}

.active {

    .last__project__img {
        opacity: 1;
        visibility: visible;
    }


}


.last__project__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease 0s;

    img {
        width: 100%;
    }
}

.project__left {
    width: 50%;
    padding: 30px;
    background: #f8f8f8;

    .service__link {
        opacity: 0;
        visibility: hidden;
    }
}


.project__right {
    width: 50%;
    font-size: 14px;
    line-height: 22px;
    font-family: Noto Sans;
    color: #333333;
    padding: 30px;
}


.decor1 {
    width: 410.05px;
    height: 800px;
    background: #f8f8f8;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 337px;
}

