@media screen and (max-width: 1367px) {

    .container {
        padding: 0 15px;
    }

    .main__slider {

        .main__slider__title {
            font-size: 50px;
            margin-bottom: 20px;
        }

    }

}