@media screen and (max-width: 767px) {

    .mobile__menu {
        padding: 0 15px;
    }

    .burger {
        display: flex;
    }


    .menu__list {
        flex-direction: column;
    
    
        .menu__item {
            width: 100%;
            .menu__link {
                color: #000000;
                padding: 10px 10px;
                width: 100%;
                display: flex;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
                &:hover {
                   color: #ffffff;
                }
            }
    
        }
    }

    .mobile__logo {
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }


    .service__row {
        

    }

    .service__item {
        max-width: 100%;
        margin-right: 0;
        padding: 15px 15px;
    }

    .service__title {
        min-height: 100px;
    }


    .project__row {
        flex-direction: column;
        width: 100%;
        border: 1px solid #D9D9D9;
        margin-bottom: 30px;
    }


    .about__item-img {
        width: 40%;
    }

    .about__item-content {
        width: 58%;
    }

    .about__title {
        font-size: 24px;
    }
    
}