@media screen and (max-width: 1367px) {

    .container {
        padding: 0 15px;
    }

    .main__slider {

        .main__slider__title {
            font-size: 50px;
            margin-bottom: 20px;
        }

    }


    .service__row {
        margin-right: 0;
        justify-content: space-between;

    }

    .service__item {
        max-width: calc(100% / 3 - 15px);
        margin-right: 0;
    }


    .marker__block {
        display: none;
    }

    .contact__block {
        max-width: 60%;
    }

}