

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1230px;
    
    width: 100%;
    margin: 0 auto;
   
}

// support widget
@import 'support-widget';
// end support-widget

// modal__form
@import 'modal__form';
// modal__form

// Header
@import 'header';
// end Header

// Main slider
@import 'main__slider';
// end Main slider

// about__main
@import 'about__main';
// end about__main

// brands
@import 'brands';
// end brands

// last__projects
@import 'last__projects';
// last__projects

// Questions
@import 'questions';
// end Questions

// Page
@import 'page';
// end Page

// Service
@import 'service';
// end Service

// Projects
@import 'project';
// end Projects

// contacts
@import 'contacts';
// end contacts

// footer
@import 'footer';
// end footer

// Responsive 1367px
@import 'response1367';
// end Responsive 1367px

// Responsive 1229px
@import 'response1229';
// end Responsive 1229px

// Responsive 1024px
@import 'response1024';
// end Responsive 1024px

// Responsive 768px
@import 'response767';
// end Responsive 768px

// Responsive 480px
@import 'response479';
// end Responsive 480px