/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


body {
    margin: 0;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    background: #1F2235;
    padding-top: 100px;


    @media screen and (min-width: 320px) {
        padding-top: 20px;
    }
   
}

.main__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 320px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width: 768px) {
        
        justify-content: space-between;
    }
}

.main__left {
    width: 48%;
    color: #ffffff;
    position: relative;
    @media screen and (min-width: 320px) {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        width: 48%;
        text-align: left;
    }
}

.main__right {
    width: 48%;

    @media screen and (min-width: 320px) {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: 768px) {
        width: 48%;
        
    }
}

.main__img {
    background: #171929;
    width: 100%;
    height: 634px;
    border-radius: 100%;
    position: relative;

    img {
        width: 350px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: 0.5s ease 0s;


        @media screen and (min-width: 320px) {
            width: 160px;
            height: auto;
            
        }

        @media screen and (min-width: 768px) {
            width: 200px;
            
        }

        @media screen and (min-width: 1200px) {
            width: 280px;
            
        }

        @media screen and (min-width: 1320px) {
            width: 350px;
            
        }


        
    }


    @media screen and (min-width: 320px) {
        width: 280px;
        height: 280px;
    }


    @media screen and (min-width: 768px) {
        width: 360px;
        height: 360px;
    }

    @media screen and (min-width: 1200px) {
        width: 500px;
        height: 500px;
    }

    @media screen and (min-width: 1320px) {
        width: 634px;
        height: 634px;
    }


}

.left__txt1 {
    font-size: 18px;
    font-weight: 600;
    
}

.left__txt2 {
    font-size: 36px;
    font-weight: bold;
    font-family: arial;

    span {
        color: #FE461C;
    }


    @media screen and (min-width: 320px) {
        font-size: 18px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        font-size: 22px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin-bottom: 20px;
    }
    
}

.left__txt3 {
    font-size: 18px;
    font-weight: 600;
    
    @media screen and (min-width: 320px) {
        font-size: 12px;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}


.main__buttons {
    display: flex;
    margin-top: 36px;


    @media screen and (min-width: 320px) {
        justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
        justify-content: initial;
    }
}

.hire {
    background: #FE461C;
    border-radius: 4px;
    transition: 0.5s ease 0s;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 20px;
    font-family: arial;
    margin-right: 25px;

    &:hover {
        background: #f06a4c;
    }


    @media screen and (min-width: 320px) {
        margin-right: 0px;
        font-size: 15px;
        padding: 0 15px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 20px;
        margin-right: 25px;
        font-size: 18px;
    }
}

.down {
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: 0.5s ease 0s;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 20px;
    font-family: arial;

    &:hover {
        background: #f06a4c;
    }

    @media screen and (min-width: 320px) {
        margin-right: 0px;
        font-size: 15px;
        padding: 0 15px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 20px;
        font-size: 18px;
        
    }
}

.ellipse {
    width: 204px;
    height: 204px;
    border-radius: 300px;
    background: rgba(187, 197, 211, 0.08);
    position: absolute;
    top: -102px;
    left: -102px;
    @media screen and (min-width: 1320px) {
        
    }
}