@font-face {
  font-family: "open_sansbold";
  src: url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanssemibold";
  src: url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: open_sansregular;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  padding: 6.5px 0px;
}
@media screen and (max-width: 1024px) {
  .header__top {
    padding: 5px 0;
  }
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__row__left {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1200px) {
  .top__row__left {
    width: 60%;
  }
}
@media screen and (max-width: 1024px) {
  .top__row__left {
    display: none;
  }
}

.top__row__right {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 1200px) {
  .top__row__right {
    width: 38%;
  }
}
@media screen and (max-width: 1024px) {
  .top__row__right {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.top__adress {
  font-size: 18px;
  color: #111111;
  font-family: open_sansbold;
  margin-left: 40px;
}
@media screen and (max-width: 1024px) {
  .top__adress {
    display: none;
  }
}

.top__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}
.top__socials .social {
  margin-left: 20px;
}
.top__socials .social img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}
.top__socials .social:nth-child(1) {
  margin-left: 0;
}
@media screen and (max-width: 1024px) {
  .top__socials {
    display: none;
  }
}

.top__telephones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1024px) {
  .top__telephones {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.telephones__ico {
  -webkit-mask-image: url(../icons/tel.svg);
          mask-image: url(../icons/tel.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  display: block;
  background: #0540C7;
  width: 31px;
  height: 31px;
  margin-right: 20px;
}
@media screen and (max-width: 1024px) {
  .telephones__ico {
    display: none;
  }
}

.telephones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.telephones a {
  font-size: 18px;
  color: #111111;
  text-decoration: none;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  font-family: open_sanssemibold;
}
.telephones a:hover {
  color: #0540C7;
}
@media screen and (max-width: 1024px) {
  .telephones {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .telephones a {
    font-size: 16px;
  }
}

.header__bottom {
  background: #0540C7;
  border-bottom: 1px solid #ffffff;
  padding: 11.5px 0;
}
@media screen and (max-width: 1024px) {
  .header__bottom {
    padding: 5px 0;
  }
}

.header__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top__menu .menu .menu__item {
  list-style-type: none;
}
.top__menu .menu .menu__item .menu__link {
  font-size: 16px;
  font-family: open_sanssemibold;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
}
.top__menu .menu .menu__item .menu__link:hover {
  background: #161961;
}
@media screen and (max-width: 1200px) {
  .top__menu .menu .menu__item .menu__link {
    padding: 10px 15px;
  }
}
.top__menu .menu .has-children {
  position: relative;
}
.top__menu .menu .has-children .menu__link::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  position: relative;
  vertical-align: middle;
  bottom: 2px;
  border-left: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-left: 5px;
  margin-left: 10px;
}
.top__menu .menu .has-children .sub-menu {
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  min-width: 150px;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  opacity: 0;
  display: none;
}
.top__menu .menu .has-children .sub-menu .sub-item {
  list-style-type: none;
  overflow: hidden;
}
.top__menu .menu .has-children .sub-menu .sub-item .sub-link {
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #111111;
  display: block;
  transition: 0.5s ease 0s;
}
.top__menu .menu .has-children .sub-menu .sub-item .sub-link:hover {
  background: #cfcfcf;
}
@media screen and (max-width: 1200px) {
  .top__menu .menu .has-children .sub-menu .sub-item .sub-link {
    padding: 10px 15px;
  }
}
.top__menu .menu .has-children:hover .sub-menu {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  display: block;
}
.top__menu .menu .has-children:hover .menu__link {
  background: #161961;
}

.callback {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: open_sansbold;
  font-size: 18px;
  text-decoration: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  padding: 10px 20px;
}
.callback:hover {
  background: #ffffff;
  color: #111111;
}
@media screen and (max-width: 1200px) {
  .callback {
    padding: 8px 15px;
    font-size: 16px;
  }
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 2000;
}
.burger span {
  background: #0540C7;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}
.burger span:nth-last-child(1) {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burger__close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 3px;
}
.burger__close span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  bottom: 3px;
}
.burger__close span:nth-child(2) {
  display: none;
}

@media screen and (max-width: 1024px) {
  .logo {
    display: none;
  }
}

.mobile__menu {
  background: #0540C7;
  padding: 0 0px;
  position: fixed;
  right: -100%;
  top: 37px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}
.mobile__menu .top__menu {
  margin-top: 57px;
}
.mobile__menu .top__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile__menu .top__menu .menu .menu__item {
  list-style-type: none;
  border-top: 1px solid #ffffff;
}
.mobile__menu .top__menu .menu .menu__item .menu__link {
  font-size: 16px;
  font-family: open_sanssemibold;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
}
.mobile__menu .top__menu .menu .menu__item .menu__link:hover {
  background: #161961;
}
@media screen and (max-width: 1200px) {
  .mobile__menu .top__menu .menu .menu__item .menu__link {
    padding: 10px 15px;
  }
}
.mobile__menu .top__menu .menu .has-children {
  position: relative;
}
.mobile__menu .top__menu .menu .has-children .menu__link::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  position: relative;
  vertical-align: middle;
  bottom: 2px;
  border-left: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-left: 5px;
  margin-left: 10px;
}
.mobile__menu .top__menu .menu .has-children .sub-menu {
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-radius: 0px;
  position: relative;
  z-index: 10;
  min-width: 150px;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  opacity: 0;
  display: none;
}
.mobile__menu .top__menu .menu .has-children .sub-menu .sub-item {
  list-style-type: none;
  overflow: hidden;
}
.mobile__menu .top__menu .menu .has-children .sub-menu .sub-item .sub-link {
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #111111;
  display: block;
  transition: 0.5s ease 0s;
}
.mobile__menu .top__menu .menu .has-children .sub-menu .sub-item .sub-link:hover {
  background: #cfcfcf;
}
@media screen and (max-width: 1200px) {
  .mobile__menu .top__menu .menu .has-children .sub-menu .sub-item .sub-link {
    padding: 10px 15px;
  }
}
.mobile__menu .top__menu .menu .has-children:hover .sub-menu {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  display: block;
}
.mobile__menu .top__menu .menu .has-children:hover .menu__link {
  background: #161961;
}

.menu__opened {
  right: 0;
}

.logo__mobile {
  display: none;
}
.logo__mobile img {
  width: 160px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1024px) {
  .logo__mobile {
    display: block;
  }
}

.slider__main {
  height: calc(100vh - 150px);
  position: relative;
}
.slider__main .swiper {
  height: calc(100vh - 150px);
}
.slider__main .swiper .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__main .slider__content {
  position: absolute;
  z-index: 110;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__main .slider__content-title {
  position: relative;
  z-index: 150;
}
.slider__main .swiper-pagination {
  position: absolute;
  z-index: 120;
}
@media screen and (max-width: 1200px) {
  .slider__main {
    height: calc(100vh - 143px);
  }
  .slider__main .swiper {
    height: calc(100vh - 143px);
  }
}
@media screen and (max-width: 1024px) {
  .slider__main {
    height: calc(100vh - 98px);
  }
  .slider__main .swiper {
    height: calc(100vh - 98px);
  }
}
@media screen and (max-width: 60px) {
  .slider__main {
    height: calc(100vh - 95px);
  }
  .slider__main .swiper {
    height: calc(100vh - 95px);
  }
}

.back {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.slider__content-title {
  font-size: 48px;
  text-align: center;
  font-family: "open_sansbold";
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .slider__content-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 1024px) {
  .slider__content-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .slider__content-title {
    font-size: 18px;
  }
}

.slider__content-txt {
  font-size: 24px;
  font-weight: open_sansbold;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .slider__content-txt {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .slider__content-txt {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .slider__content-txt {
    font-size: 16px;
  }
}

.main__services {
  padding: 70px 0;
}
.main__services .main__services-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main__services .main__services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31%;
  height: 300px;
  position: relative;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.main__services .main__services-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}
.main__services .main__services-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.main__services .main__services-item .services__item-title {
  font-size: 24px;
  color: #ffffff;
  font-family: open_sansbold;
  position: absolute;
  z-index: 300;
  text-align: center;
  padding: 0 20px;
}
.main__services .main__services-item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 1024px) {
  .main__services .main__services-item {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .main__services .main__services-item {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 600px) {
  .main__services {
    padding: 30px 0;
  }
}

.main__services-title {
  font-size: 42px;
  font-family: open_sanssemibold;
  color: #1d1d1d;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  .main__services-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}