.section8 {
    margin-top: 49px;
}

.s8__txt1 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 8px;
}

.s8__title {
    font-weight: 800;
    font-size: 31px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;

    span {
        color: #CD050A;
    }

    @media screen and (max-width: 1024px) {
        font-size: 21px;
    }
}

.s8__txt2 {
    text-align: center;
    margin-bottom: 32px;
    font-size: 14px;
}

.swiper__rev {
    border-radius: 32px;
    padding: 24px;
    background: #F0F0F0;
}

.sw__rev__header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.sw__rev__img {
    margin-right: 8px;

    img {
        height: 45px;
        width: 45px;
        border-radius: 100px;
        object-fit: cover;
    }
}

.sw__rev__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 14px;
}

.sw__rev__stars {
    display: flex;
}

.sw__rev__content {
    font-size: 12px;
    margin-bottom: 8px;
}

.sw__rev__more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    color: #000;

    &::after {
        content: '';
        min-width: 12px;
        min-height: 12px;
        background: url('../img/reviews__right2.svg') no-repeat;
        display: block;
    }
}


.swiper5 {
    overflow: hidden;
}

.s8__button {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

