.footer__top {
    height: 226px;
    background: $color2;
    border-radius: 50px 50px 0 0;
    border-top: 20px solid $color1;

    .container {
        display: flex;
        justify-content: flex-end;
        
    }

    .footer__row {
        display: flex;
        align-items: center;
        width: 62%;
        align-self: flex-end;
        position: relative;
        top: 35px;

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }


    @media screen and (max-width: 1024px) {
        border-radius: 30px 30px 0 0;
        border-top: 10px solid $color1;
        height: 177px;
    }
}

.footer__bottom {
    background: $color1;
    border-radius: 50px 50px 0 0;
    margin-top: -80px;
    padding: 100px 0;

    .container {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    .footer__bottom__block {
        width: 62%;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }

}

.footer__txt {
    font-size: 18px;
    line-height: 22px;
    color: $color1;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin-left: 15px;
}




.footer__contacts {
    margin-bottom: 80px;
    a {
        font-size: 18px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;
        line-height: -0.04em;
        display: flex;
        align-items: center;
        margin-bottom: 18px;

        &:nth-last-child(1) {
            margin-bottom: 0;
        }

        &:hover {
            text-decoration: underline;
        }

        @media screen and (max-width: 360px) {
            font-size: 14px;
        }
    }

    img {
        margin-right: 27px;
    }
}

.copyright {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    opacity: 0.6;

    a {
        color: #fff;

        &:hover {
            text-decoration: none;
        }

    }

    @media screen and (max-width: 1024px) {
        font-size: 12px;
        line-height: 14px;
    }
}

.footer__img {
    position: absolute;
    left: -34px;
    top: -274px;
    z-index: 100;

    @media screen and (max-width: 1024px) {
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0;
        top: -237px;
        img {
            width: 178px;
            object-fit: contain;
        }
    }
}


.btn-up {
    width: 89px;
    height: 89px;
    border-radius: 100px;
    border: 2px solid $color2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.6s ease 0s;
    cursor: pointer;
    background: $color1;
    position: absolute;
    bottom: 60px;
    right: -3px;
    z-index: 500;

    &::before {
        content: '';
        width: 25px;
        height: 32px;
        background: url(../img/up__line.svg);
        display: block;
        position: absolute;
        left: -5px;
        bottom: -3px;
    }

    &::after {
        content: '';
        width: 24px;
        height: 22px;
        mask-image: url(../img/arrow__up.svg);
        mask-repeat: no-repeat;
        mask-size: contain;
        display: block;
        background: $color2;
        transition: 0.6s ease 0s;
    }

    &:hover {
        background: $color2;

        &::after {
            content: '';
            width: 24px;
            height: 22px;
            mask-image: url(../img/arrow__up.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
            display: block;
            background: $color1;
            transition: 0.6s ease 0s;
        }
    }

    @media screen and (max-width: 1024px) {
        bottom: inherit;
        top: 0;
        right: 30px;
    }
}

.footer__logo {
    img {
        min-width: 97.56px;
        min-height: 23.51px;
    }
}



.footer__menu {
    display: flex;
    margin-bottom: 124px !important;

    .menu-item {
        margin-right: 57px;
        
        &:nth-last-child(1) {
            margin-right: 0;
        }
        a {
            font-size: 18px;
            color: #ffffff;
            text-decoration: none;
            font-weight: 700;
            line-height: -0.04em;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .menu-item-has-children {
        position: relative;
        a {
            display: flex;
            align-items: center;
            &::after {
                content: "";
                display: block;
                 width: 11px;
                height: 8px;
                background: url(../img/menu__arrow__white.svg);
                position: relative;
                margin-left: 5px;
            }
        }

        .sub-menu {
            position: absolute;
            background: #FFFFFF;
            min-width: 230px;
            box-sizing: border-box;
            border-radius: 20px;
            border: 2px solid rgba(1, 61, 49, 0.06);
            left: 0px;
            top: 100%;
            z-index: 5;
            transform: translate(50px, 0);
            opacity: 0;
            visibility: hidden;
            transition: 0.5s ease 0s;
    
            .menu-item {
                margin-right: 0;


                a {
                    color: $color1;
                    font-size: 16px;
                    padding: 26px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &::after {
                        display: none;
                    }

                    &:hover {
                        background: $color1;
                        text-decoration: none;
                        color: $color2;
                        

                        &::after {
                            content: '';
                            width: 24px;
                            height: 24px;
                            background: url(../img/arrow__right.svg);
                            display: block;
                        }

                        @media screen and (max-width: 1024px) {

                            &::after {
                                display: none;
                            }
                        }
                    }

                    @media screen and (max-width: 1024px) {
                        color: #fff;
                        padding: 0;
                        font-size: 14px;
                        padding-left: 20px;
                    }

                    
                }

                &:nth-last-child(1) {
                    a {
                        border-radius: 0px 0px 20px 20px;
                    }
                }

                &:nth-child(1) {
                    a {
                        border-radius: 20px 20px 0px 0px;
                    }
                }
    
            }

            @media screen and (max-width: 1024px) {
                position: relative;
                background: transparent;
                min-width: auto;
                box-sizing: border-box;
                border-radius: 20px;
                border: none;
                left: 0px;
                top: 0;
                z-index: 5;
                transform: translate(0px, 0);
                opacity: 1;
                visibility: visible;
                transition: 0.5s ease 0s;
                margin-top: 10px;
            }
        }


        &:hover {
            .sub-menu {
                visibility: visible;
                opacity: 1;
                transform: translate(0, 0);

                
            }
        }

    }

    


    @media screen and (max-width: 1024px) {
        flex-direction: column;
        margin-bottom: 40px !important;
        .menu-item {
            margin-right: 0;
            margin-bottom: 20px;

            &:nth-last-child(1) {
                margin-bottom: 0;
            }
            a {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}


footer.footer {
    margin-top: 50px;
}