.section2 {
    position: relative;
    padding: 150px 0;
    border-top: 20px solid $color1;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    background: #fff;

    @media screen and (max-width: 1024px) {
        padding: 30px 0;
        border-top: 10px solid $color1;
        border-radius: 30px 30px 0 0;
        margin-top: -38px;
        padding-top: 59px;
    }
}

.section2__back {
    position: absolute;
    left: 200px;
    top: 0;

    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.section2__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.section2__left {
    width: 53.2%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.s2__left__title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: $color1;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        width: 46px;
        height: 46px;
        background: url(../img/section2__ico1.svg);
        display: block;
        margin-right: 16px;
    }
}

.s2__left__txt1 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 36px;
    color: $color1;
    margin-bottom: 50px;

    @media screen and (max-width: 1024px) {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
    }
}

.s2__left__txt2 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: $color1;
    opacity: 0.6;
    width: 80%;
    align-self: flex-end;

    @media screen and (max-width: 1024px) {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        align-self: flex-start;
        margin-bottom: 40px;
    }
}

.section2__right {
    width: 36.8%;

    @media screen and (max-width: 1024px) {
        width: 100%;
        
    }
}

.s2__right__item {
    padding: 40px 58px;
    background: rgba(249, 249, 249, 1);
    border-radius: 24px;
    margin-bottom: 10px;
    position: relative;

    @media screen and (max-width: 1024px) {
        left: 23px;
        width: calc(100% - 23px);
        padding: 40px;
        
    }
}

.s2__right__title {
    color: $color1;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.02em;
    font-weight: 700;
    margin-bottom: 30px;

    @media screen and (max-width: 1024px) {
        font-size: 18px;
        line-height: 20px;
        
    }
}

.s2__right__txt {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: $color1;
    opacity: 0.6;

    @media screen and (max-width: 1024px) {
        font-size: 14px;
        line-height: 18px;
        
    }
}

.s2__right__number {
    color: $color2;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.04em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 56px;
    height: 56px;
    background: $color1;
    position: relative;
    border: 5px solid #fff;
    position: absolute;
    left: -23px;
    top: 22px;

    &::before {
        content: "";
        width: 15px;
        height: 19px;
        background: url(../img/section2__ico2.svg) no-repeat;
        display: block;
        position: absolute;
        bottom: -4px;
        left: -5px;
    }
}

.section2__img {
    border-radius: 50px 50px 0 0;
    height: 534px;
    
    img {
        height: 534px;
        object-fit: cover;
        width: 100%;
        border-radius: 50px 50px 0 0;
    }

    @media screen and (max-width: 1024px) {
        height: 415px;
        border-radius: 30px 30px 0 0;

        img {
            border-radius: 30px 30px 0 0;
            height: 334px;
        }
    }
}