.page__content {
    p {
        margin-bottom: 30px;
        word-break: break-all;
    }

    img {
        width: 100%;
        object-fit: contain;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 20px;
    }
}