.section11 {
    padding: 12px 0;
}

.section11__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.section11__left {
    width: 48%;

    @media screen and (max-width: 1024px) {
        width: 100%;
        margin-bottom: 12px;
    }
}

.section11__right {
    width: 48%;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.map__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 10px;
    text-transform: uppercase;
}