@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');
@import "fonts";
@import "reset";






.container {
    max-width: 1300px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto; 
}

@import "header";
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "section5";
@import "section6";
@import "footer";