.section1 {
    margin-top: 80px;

    @media screen and (max-width: 1024px) {
        margin-top: 30px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 100px;
    }
}

.section1__main {
    background: #151515;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    min-height: 550px;
    padding: 0 28px;

    &::before {
        content: "";
        width: 740px;
        height: 740px;
        border-radius: 740px;
        background: #FF3B2F;
        display: block;
        position: absolute;
        left: -320px;
        bottom: -427px;
        filter: blur(200px);

        @media screen and (max-width: 1024px) {
            left: -522px;
        }
    }
    &::after {
        content: "";
        width: 740px;
        height: 740px;
        border-radius: 740px;
        background: #3B85FE;
        display: block;
        position: absolute;
        right: -320px;
        bottom: -427px;
        filter: blur(200px);

        @media screen and (max-width: 1024px) {
            right: -522px;
        }
    }

    @media screen and (max-width: 375px) {
        padding: 0 14px;
        
    }
}

.section1__title {
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    color: #ffffff;
    line-height: 110%;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
        font-size: 60px;
        margin-top: 80px;
    }
    @media screen and (max-width: 600px) {
        font-size: 38px;
        
    }
    @media screen and (max-width: 375px) {
        font-size: 30px;
        
    }
}
.section1__txt {
    font-size: 18px;
    font-weight: 400;
    color: #a9a9a9;
    text-align: center;
    line-height: 110%;
    margin-top: 10px;

    @media screen and (max-width: 1024px) {
        font-size: 16px;
        
    }
    @media screen and (max-width: 600px) {
        font-size: 14px;
        
    }

    
}

.button__app__store {
    display: block;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    width: 160px;
    height: 50px;
    margin-top: 30px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 35px;
    }
}

.section1__images {
    z-index: 1;
    position: relative;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media screen and (max-width: 1024px) {
        left: 0;
        .phone2 {
            display: none;
        }
        .phone3 {
            display: none;
        }
    }
}