@font-face {
  font-family: "opensansbold";
  src: url("fonts/opensans-bold.woff2") format("woff2"), url("fonts/opensans-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensanslight";
  src: url("fonts/opensans-light.woff2") format("woff2"), url("fonts/opensans-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensansregular";
  src: url("fonts/opensans-regular.woff2") format("woff2"), url("fonts/opensans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensanssemibold";
  src: url("fonts/opensans-semibold.woff2") format("woff2"), url("fonts/opensans-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: opensansregular;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .header {
    padding: 30px 15px;
  }
}

.register__link {
  color: #337ab7;
  text-decoration: none;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}
.register__link:hover {
  color: #23527c;
}

.section1__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .section1__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section1__left {
  width: 48%;
}
@media screen and (max-width: 1024px) {
  .section1__left {
    width: 100%;
  }
}

.section1__right {
  width: 48%;
}
@media screen and (max-width: 1024px) {
  .section1__right {
    width: 100%;
  }
}

.main__video {
  background: url(images/nout.png);
  width: 550px;
  height: 361px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .main__video {
    background-size: contain;
    width: 478px;
    height: 361px;
  }
}
@media screen and (max-width: 600px) {
  .main__video {
    background-size: contain;
    width: 289px;
    height: 190px;
    margin: 0 auto;
  }
}

.video__right {
  position: absolute;
  width: 406px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  height: 217px;
  top: 75px;
  left: 72px;
  border-radius: 3px;
}
.video__right video {
  width: 100%;
}
.video__right .nav {
  position: absolute;
  z-index: 5000;
  top: -57px;
}
@media screen and (max-width: 600px) {
  .video__right .nav {
    top: -35px;
  }
}
.video__right .tutor {
  position: absolute;
  right: 10px;
  z-index: 6000;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 8px;
  background-color: rgba(21, 22, 24, 0.8);
  border-radius: 8px;
}
.video__right .tutur__txt {
  font-size: 10px;
  color: #ffffff;
  font-family: opensansbold;
}
.video__right .circle {
  width: 8px;
  height: 8px;
  margin-right: 4px;
  -webkit-animation: heartbeat 2s linear infinite;
          animation: heartbeat 2s linear infinite;
  background-color: #35f96c;
  border-radius: 12px;
  border-radius: 25px;
}
@media screen and (max-width: 1200px) {
  .video__right {
    position: absolute;
    width: 354px;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    height: 207px;
    top: 65px;
    left: 63px;
    border-radius: 3px;
  }
}
@media screen and (max-width: 600px) {
  .video__right {
    position: absolute;
    width: 214px;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    height: 207px;
    top: 39px;
    left: 37px;
    border-radius: 3px;
  }
}

.video__left {
  background: url(images/smart.svg);
  width: 94px;
  height: 180px;
  position: absolute;
  z-index: 5;
  top: 96px;
  left: 20px;
}
.video__left video {
  width: 91px;
  height: 178px;
  position: absolute;
  top: 1px;
  z-index: -1;
  left: 1px;
  border-radius: 15px;
}
@media screen and (max-width: 1200px) {
  .video__left {
    background: url(images/smart.svg);
    width: 80px;
    background-size: contain;
    height: 153px;
    position: absolute;
    z-index: 20;
    top: 80px;
    left: 20px;
  }
  .video__left video {
    width: 77px;
    height: 152px;
    position: absolute;
    top: 1px;
    z-index: 10;
    left: 1px;
    border-radius: 15px;
  }
}
@media screen and (max-width: 600px) {
  .video__left {
    background: url(images/smart.svg);
    width: 45px;
    background-size: contain;
    height: 86px;
    position: absolute;
    z-index: 20;
    top: 56px;
    left: 11px;
  }
  .video__left video {
    width: 44px;
    height: 84px;
    position: absolute;
    top: 1px;
    z-index: 10;
    left: 0px;
    border-radius: 9px;
  }
}

.section1__txt1 {
  font-size: 16px;
  color: #808080;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .section1__txt1 {
    text-align: center;
    font-size: 14px;
  }
}

.section1__title1 {
  font-size: 48px;
  color: #333333;
  line-height: 1.1;
  font-family: opensansbold;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .section1__title1 {
    text-align: center;
    font-size: 25px;
  }
}

.section1__list li {
  font-size: 24px;
  color: #808080;
  margin-bottom: 15px;
  list-style-type: none;
}
.section1__list li a {
  color: #337ab7;
  text-decoration: none;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}
.section1__list li a:hover {
  color: #23527c;
}
@media screen and (max-width: 600px) {
  .section1__list li {
    text-align: center;
    font-size: 15px;
  }
}

.section__form1 {
  background-color: #0366d6;
  padding: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 2px 10px #878787;
          box-shadow: 3px 2px 10px #878787;
  margin: 3em auto;
}
@media screen and (max-width: 600px) {
  .section__form1 {
    padding: 15px;
  }
}

.form1__title {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 17px;
  font-family: opensansbold;
}
@media screen and (max-width: 600px) {
  .form1__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .form1__title {
    font-size: 18px;
  }
}

.form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form1 .form__block {
  width: 23%;
}
.form1 .form__block input {
  width: 100%;
  border: 2px solid #3075F3;
  padding: 7px 10px;
}
.form1 .form__block button {
  width: 100%;
  background-color: #e10c16;
  border: 2px solid #3075F3;
  outline: none;
  font-size: 16px;
  font-family: opensansbold;
  color: #ffffff;
  padding: 7px 10px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .form1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form1 .form__block {
    width: 48%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .form1 .form__block {
    width: 100%;
    margin-bottom: 15px;
  }
}

.section2__title {
  color: #333333;
  text-align: center;
  font-family: opensansbold;
  font-size: 36px;
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .section2__title {
    font-size: 24px;
    line-height: 28px;
  }
}

.section2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.section2__row .section2__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31%;
}
.section2__row .section2__block picture {
  margin-bottom: 35px;
}
.section2__row .section2__block .block__title {
  color: #808080;
  font-size: 16px;
  text-align: center;
  min-height: 50px;
}
@media screen and (max-width: 480px) {
  .section2__row .section2__block .block__title {
    min-height: auto;
  }
}
@media screen and (max-width: 600px) {
  .section2__row .section2__block {
    width: 48%;
    margin-bottom: 20px;
  }
  .section2__row .section2__block:nth-last-child(1) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .section2__row .section2__block {
    width: 100%;
    margin-bottom: 20px;
  }
  .section2__row .section2__block:nth-last-child(1) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .section2__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button__want {
  font-size: 14px;
  text-decoration: none;
  background: #dd3333;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  margin: 0 auto;
  padding: 14px 20px;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}
.button__want:hover {
  background: #b63030;
}

.section3 {
  margin: 70px 0;
}
@media screen and (max-width: 600px) {
  .section3 {
    margin: 30px 0;
  }
}

.section3__txt {
  font-size: 24px;
  color: #808080;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .section3__txt {
    font-size: 15px;
  }
}

.section3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .section3__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: -30px;
  }
}
@media screen and (max-width: 600px) {
  .section3__row {
    margin-right: 0;
    margin: 25px 0;
  }
}

.section3__block {
  background: #5d9cec;
  border-radius: 10px;
  width: 31%;
  padding: 20px;
}
@media screen and (max-width: 1024px) {
  .section3__block {
    width: calc(100% / 2 - 30px);
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
  }
  .section3__block:nth-last-child(1) {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .section3__block {
    width: 100%;
    margin-right: 0;
  }
}

.s3__block__title {
  font-size: 24px;
  color: #ffffff;
  font-family: opensansbold;
  text-align: center;
  margin-bottom: 30px;
}

.s3__block__txt {
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}

.repetitor__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}
@media screen and (max-width: 480px) {
  .repetitor__row {
    margin: 25px 0;
  }
}

.repetitor__left {
  width: 48%;
  -webkit-box-shadow: 0px 4px 10px #bfbfbf;
          box-shadow: 0px 4px 10px #bfbfbf;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1024px) {
  .repetitor__left {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }
}
@media screen and (max-width: 480px) {
  .repetitor__left {
    padding: 20px 6px;
  }
}

.repetitor__right {
  width: 48%;
}
@media screen and (max-width: 1024px) {
  .repetitor__right {
    width: 100%;
  }
}

.repetitor__title {
  font-size: 24px;
  font-family: opensansbold;
  text-align: center;
  margin-bottom: 30px;
  color: #333333;
}
@media screen and (max-width: 480px) {
  .repetitor__title {
    width: 100%;
  }
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper-slide img {
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.repetitor {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .repetitor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.repetitor__inputs {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.repetitor__inputs label {
  margin: 0 5px;
}
@media screen and (max-width: 600px) {
  .repetitor__inputs {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .repetitor__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32%;
    font-size: 12px;
  }
  .repetitor__inputs input {
    margin-right: 0;
    margin-left: 0;
  }
  .repetitor__inputs label {
    margin: 0px 0px;
  }
}

.repetitor__input {
  text-align: center;
}
.repetitor__input input {
  border: 2px solid #3075F3;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: 480px) {
  .repetitor__input {
    width: 100%;
  }
}

.repetitor__button {
  text-align: center;
  margin-top: 15px;
}
.repetitor__button button {
  background: #3075F3;
  cursor: pointer;
  color: #ffffff;
  border-radius: 10px;
  padding: 5px;
  width: 150px;
  outline: none;
  border: none;
}
@media screen and (max-width: 480px) {
  .repetitor__button {
    width: 100%;
  }
}

.want__lesson__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}
@media screen and (max-width: 1024px) {
  .want__lesson__row {
    margin: 25px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.lesson__block {
  width: 31%;
  border-radius: 10px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
}
@media screen and (max-width: 1024px) {
  .lesson__block {
    width: 48%;
    margin-bottom: 2%;
  }
  .lesson__block:nth-last-child(1) {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .lesson__block {
    width: 100%;
    margin-bottom: 20px;
  }
  .lesson__block:nth-last-child(1) {
    margin-right: 0;
  }
}

.b1 {
  background: url(images/b1.png) no-repeat;
  background-size: cover;
}

.b2 {
  background: url(images/b2.png) no-repeat;
  background-size: cover;
}

.b3 {
  background: url(images/b3.png) no-repeat;
  background-size: cover;
}

.lesson__block__title {
  font-family: opensanssemibold;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

.lesson__block__txt {
  text-align: center;
  color: #ffffff;
}

.form3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form3__left {
  width: 48%;
}
@media screen and (max-width: 1024px) {
  .form3__left {
    width: 100%;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form3__left .form3__left__img {
    text-align: center;
  }
  .form3__left .form3__left__img img {
    width: 80%;
    margin: 0 auto;
  }
}

.form3__right {
  width: 48%;
  background-color: #0366d6;
  padding: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 2px 10px #878787;
  box-shadow: 3px 2px 10px #878787;
}
.form3__right .form1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form3__right .form1 .form__block {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .form3__right {
    width: 100%;
    padding: 15px;
  }
}

.form3__left__title {
  font-size: 24px;
  color: #333333;
  font-family: opensansbold;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .form3__left__title {
    font-size: 20px;
  }
}

.otz__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .otz__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.otz__block {
  width: 31%;
}
.otz__block img {
  width: 100%;
  margin-bottom: 20px;
}
.otz__block .otz__txt p {
  font-size: 16px;
  line-height: 20px;
  color: #808080;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .otz__block {
    width: 47%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .otz__block {
    width: 100%;
    margin-bottom: 20px;
  }
}

.clients {
  margin: 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1024px) {
  .clients {
    margin: 30px 0;
  }
}

.land__footer {
  background: #000000;
  padding: 30px 0;
}
.land__footer ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.land__footer ul li {
  list-style-type: none;
}
.land__footer ul li a {
  color: #337ab7;
  text-decoration: none;
}
.land__footer ul li a:hover {
  color: #23527c;
}
@media screen and (max-width: 1024px) {
  .land__footer ul li {
    margin-bottom: 10px;
  }
  .land__footer ul li:nth-last-child(1) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1024px) {
  .land__footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page1 {
  background: rgba(225, 226, 228, 0.68);
}

.section__sky1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .section__sky1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.sky1__left {
  width: 65%;
}
@media screen and (max-width: 1024px) {
  .sky1__left {
    width: 100%;
  }
}

.sky1__right {
  width: 33%;
}
@media screen and (max-width: 1024px) {
  .sky1__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.sky1__txt1 {
  font-size: 18px;
  font-family: opensansbold;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .sky1__txt1 {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .sky1__txt1 {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.sky1__txt2 {
  font-family: opensansbold;
  font-size: 44px;
}
@media screen and (max-width: 1024px) {
  .sky1__txt2 {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .sky1__txt2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.wrapword {
  color: #0366d6;
}

.sky1__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}
@media screen and (max-width: 600px) {
  .sky1__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}

.sky1__block {
  width: 31%;
  border-radius: 10px;
  padding: 30px 20px;
}
@media screen and (max-width: 600px) {
  .sky1__block {
    width: 100%;
    margin-bottom: 20px;
  }
}

.sk1 {
  background: #ff6d00;
}

.sk2 {
  background: #99d100;
}

.sk3 {
  background: #00c1ff;
}

.sky1__block__title {
  text-align: center;
  font-family: opensansbold;
  font-size: 24px;
  margin-bottom: 20px;
}

.sky1__block__txt {
  color: #ffffff;
}

.page1 .form1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -20px;
}
.page1 .form1 .form__block {
  width: calc(100% / 4 - 20px);
  margin-right: 20px;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .page1 .form1 .form__block {
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 600px) {
  .page1 .form1 .form__block {
    width: calc(100% / 2 - 20px);
    margin-right: 20px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 480px) {
  .page1 .form1 .form__block {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 480px) {
  .page1 .form1 {
    margin-right: 0;
  }
}

.sky1__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.row2__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}
.row2__block img {
  width: 50px;
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  .row2__block img {
    width: 35px;
  }
}
@media screen and (max-width: 480px) {
  .row2__block img {
    width: 25px;
    margin-bottom: 10px;
    margin-right: 0;
  }
}
.row2__block span {
  color: #ffffff;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .row2__block span {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) and (max-width: 480px) {
  .row2__block span {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .row2__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.page1 .section2__row .section2__block img {
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  .page1 .section2__row .section2__block img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  .page1 .section2__row .section2__block picture {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .page1 .section2__row .section2__block {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .page1 .section2__row {
    margin-bottom: 0;
  }
}
.page1 .button__want {
  background: #7ac100;
  word-wrap: break-word;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .page1 .button__want {
    width: 100%;
  }
}
.page1 .section2 {
  margin-bottom: 50px;
}
.page1 .block__title {
  margin-top: 20px;
}
.page1 .section1__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skysmart {
  margin: 75px 0;
}
.skysmart .form3__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skysmart .form1 {
  margin-right: 0;
}
.skysmart .form1 .form__block {
  width: 100%;
  margin-right: 0;
}

.page2 .section1 {
  padding-top: 70px;
  background: #5d9cec;
  background: -webkit-gradient(linear, left top, left bottom, from(#5d9cec), color-stop(60%, #5d9cec), to(white));
  background: linear-gradient(180deg, #5d9cec 0%, #5d9cec 60%, white 100%);
}
.page2 .section1__txt1 {
  color: #000000;
  font-family: opensansbold;
}
.page2 .section1__title1 {
  color: #ffffff;
}
.page2 .section1__list {
  color: #ffffff;
}
.page2 .section1__list p {
  margin-bottom: 20px;
}
.page2 .section__form1 {
  margin-bottom: 0;
}
.page2 .button__want {
  word-wrap: break-word;
}
@media screen and (max-width: 600px) {
  .page2 .button__want {
    width: 100%;
    text-align: center;
  }
}
.page2 .section__form3 {
  padding-top: 50px;
  padding-bottom: 75px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(60%, white), to(#5d9cec));
  background: linear-gradient(180deg, white 0%, white 60%, #5d9cec 100%);
}

@-webkit-keyframes heartbeat {
  0% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
}

@keyframes heartbeat {
  0% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
}