@import 'fonts';
@import 'reset';

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
    
}

@import 'header';
@import 'section1';
@import 'page__news';

@import 'footer';
