@import 'fonts';
@import 'reset';

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
    
}

@import 'header';
@import 'section1';
@import 'section__numbers';
@import 'section3';
@import 'page__news';
@import 'page__team';

@import 'footer';
