.c__section1 {
  margin-top: 100px;
}

.c__s1__block {
  position: relative;
}
.c__s1__block::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#BE301E));
  background: linear-gradient(to bottom, #000000, #BE301E);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}