.section9 {
    padding: 90px 0;
    overflow-y: hidden;
    position: relative;
    background: #F7F6F3 url(../img/white.svg) center;
    background-size: cover;

    .s2__txt2 {
       display: flex;
       justify-content: center;
       color: #6B6B6B;
       margin-bottom: 18px;
    }

    .s2__title {
        text-align: center;
        color: #0D0D0D;
        margin-bottom: 18px;
    }

    @media screen and (max-width: 1024px) {
        padding: 30px 0;
    }
}

.s9__txt {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }
}

.s9__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: #6B6B6B;
    &::before {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 20px;
        background: #F2C94C;
        display: block;
        margin-right: 8px;
    }
}

.s9__block {
    background: #FFFFFF;
    border-top: 2px solid #F2C94C;
    border-radius: 10px;
    max-width: 474px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;

    @media screen and (max-width: 1024px) {
        padding: 15px;
    }
}

.s9__price {
    font-family: 'Unbounded';
    font-size: 72px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    span {
        font-size: 28px;
        font-weight: 800;
        position: relative;
        top: 10px;
        margin-right: 8px;
    }
}

.s9__block__txt1 {
    text-align: center;
    font-size: 13px;
    color: #6B6B6B;
    margin-bottom: 40px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 30px;
    }

    span {
        font-weight: 900;
        color: #0D0D0D;
    }
}

.s9__items {
    .s9__item {
        color: #0D0D0D;
        margin-bottom: 10px;

        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
}

.s9__button {
    margin-top: 30px;
}

.s9__not {
    text-align: center;
    font-size: 13px;
    color: #6B6B6B;
    margin: 10px 0;
}

.button3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 800;
    color: #0D0D0D;
    padding: 15px;
    width: 100%;
    transition: 0.6s ease 0s;

    &:hover {
        opacity: 0.6;
    }
}




