/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Ubuntu';
  color: #1D1D1D;
  background: #fbfbfb;

  @media screen and (max-width: 1024px) {
    
  }
}


ul[class],
ol[class] {
  list-style: none;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
}


img {
  max-width: 100%;
  display: block;
}


article > * + * {
  margin-top: 1em;
}


input,
button,
textarea,
select {
  font: inherit;
}


section {
    margin-bottom: 70px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 60px;
    }
}

.container {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 35px;
        font-size: 34px;
        line-height: 44px;
    }
}

.decor2 {
  position: absolute;
  top: 425px;
  left: -560px;
  z-index: -1;
}

.page__content {
  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 20px;
  }

  ul {
    font-size: 18px;
  }
}

@import "header";
@import "main__photo";
@import "services";
@import "section__about";
@import "section__categories";
@import "section__questions";
@import "section__news";
@import "section__form";

@import "page__title";


@import "footer";
