@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: "abeezeeitalic";
  src: url("../fonts/abeezee-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "abeezeeregular";
  src: url("../fonts/abeezee-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoblack";
  src: url("../fonts/roboto-black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../fonts/roboto-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../fonts/roboto-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("../fonts/roboto-thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mazzardh_bold";
  src: url("../fonts/mazzardh-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mazzardh_light";
  src: url("../fonts/mazzardh-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mazzardh_medium";
  src: url("../fonts/mazzardh-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mazzardl_medium";
  src: url("../fonts/mazzardl-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mazzardl_regular";
  src: url("../fonts/mazzardl-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #22222A;
  font-family: abeezeeitalic;
  font-size: 16px;
  color: #ffffff;
  line-height: 120%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1300px) {
  .main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header {
  background: #2F2E38;
  border-right: 1px solid #3C3B45;
  width: 244px;
  top: 0;
  left: 0;
  margin-right: 48px;
}
@media screen and (max-width: 1440px) {
  .header {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1300px) {
  .header {
    width: 100%;
    margin-right: 0;
    border-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 20px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 15px 20px;
  }
}

.content {
  width: calc(100% - 292px);
  padding-right: 48px;
  margin-top: 40px;
}
@media screen and (max-width: 1440px) {
  .content {
    padding-right: 30px;
    width: calc(100% - 254px);
  }
}
@media screen and (max-width: 1300px) {
  .content {
    padding-right: 0px;
    padding: 0px 20px;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .content {
    margin-top: 20px;
  }
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .content__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.center {
  width: 70%;
}
@media screen and (max-width: 1440px) {
  .center {
    width: 65%;
  }
}
@media screen and (max-width: 1024px) {
  .center {
    width: 100%;
  }
}

.sidebar {
  width: calc(30% - 48px);
}
@media screen and (max-width: 1440px) {
  .sidebar {
    width: calc(35% - 30px);
  }
}
@media screen and (max-width: 1024px) {
  .sidebar {
    width: 100%;
  }
}

.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .content__header {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .content__header {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.center__title {
  font-family: robotobold;
  font-size: 40px;
  color: #ffffff;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .center__title {
    margin-bottom: 24px;
  }
}

.user__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.user__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__img {
  margin-right: 12px;
}

.user__name {
  font-family: abeezeeitalic;
  font-size: 14px;
  color: #ffffff;
}

.user__raiting {
  font-family: abeezeeitalic;
  font-size: 14px;
  color: #FFE822;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user__raiting::before {
  content: "";
  background: url("../img/star.svg") no-repeat;
  width: 12px;
  height: 13px;
  display: block;
  margin-right: 5px;
}

.user__right {
  margin-left: 40px;
}

.banner1 {
  background: url(../img/banner1.jpg) no-repeat 50%;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 26px;
}
@media screen and (max-width: 1024px) {
  .banner1 {
    padding: 15px;
  }
}

.banner1__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.banner1__txt1 {
  background: rgba(208, 208, 208, 0.3);
  border-radius: 8px;
  font-family: abeezeeitalic;
  color: #ffffff;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 11px;
}
@media screen and (max-width: 1024px) {
  .banner1__txt1 {
    font-size: 13px;
  }
}

.banner1__txt2 {
  font-family: abeezeeitalic;
  color: #58BF44;
  font-size: 13px;
}
@media screen and (max-width: 1024px) {
  .banner1__txt2 {
    font-size: 12px;
  }
}

.banner1__title {
  font-family: abeezeeitalic;
  font-size: 30px;
  color: #FBFBFD;
  margin-bottom: 15px;
}
@media screen and (max-width: 1024px) {
  .banner1__title {
    font-size: 24px;
  }
}

.banner1__txt {
  font-family: abeezeeitalic;
  font-size: 16px;
  line-height: 120%;
  color: #C5C5C5;
  margin-bottom: 16px;
}
@media screen and (max-width: 1024px) {
  .banner1__txt {
    font-size: 15px;
  }
}

.banner1__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.banner1__lessons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: abeezeeitalic;
  font-size: 13px;
  color: #999999;
  margin-right: 11px;
}
.banner1__lessons:before {
  content: "";
  -webkit-mask-image: url(../img/lessons__ico.svg);
          mask-image: url(../img/lessons__ico.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  display: block;
  background: #58BF44;
}

.banner1__hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: abeezeeitalic;
  font-size: 13px;
  color: #999999;
  margin-right: 11px;
}
.banner1__hours:before {
  content: "";
  -webkit-mask-image: url(../img/time__ico.svg);
          mask-image: url(../img/time__ico.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  display: block;
  background: #58BF44;
}

.progress__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress__name {
  font-family: abeezeeitalic;
  font-size: 16px;
  color: #999999;
  margin-right: 5px;
}

.progress__number {
  font-family: abeezeeitalic;
  font-size: 16px;
  color: #EAD200;
  margin-left: 5px;
}

.bar {
  width: 228px;
  height: 6px;
  border-radius: 4px;
  background: #22222A;
  position: relative;
}
.bar .bar__numb {
  width: 45%;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  background: #EAD200;
  border-radius: 4px;
}

.banner1__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}
@media screen and (max-width: 1024px) {
  .banner1__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  background: #58BF44;
  border-radius: 4px;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  text-decoration: none;
  font-size: 16px;
  font-family: abeezeeitalic;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 16px;
}
.button1::before {
  content: "";
  -webkit-mask-image: url(../img/scanner__ico.svg);
          mask-image: url(../img/scanner__ico.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 15px;
  height: 15px;
  background: #ffffff;
  display: block;
  margin-right: 5px;
}
.button1:hover {
  background: #1e810a;
}
@media screen and (max-width: 1024px) {
  .button1 {
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  background: #151515;
  border-radius: 4px;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  text-decoration: none;
  font-size: 16px;
  font-family: abeezeeitalic;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #58BF44;
}
.button2:hover {
  background: #1e810a;
}
@media screen and (max-width: 1024px) {
  .button2 {
    font-size: 14px;
  }
}

.notification {
  background: #2F2E38;
  padding: 24px;
  margin-bottom: 16px;
  border-radius: 16px;
}
@media screen and (max-width: 600px) {
  .notification {
    padding: 18px;
  }
}

.notification__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 600px) {
  .notification__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.notification__name {
  font-family: abeezeeitalic;
  font-size: 20px;
  color: #FBFBFD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1440px) {
  .notification__name {
    font-size: 18px;
  }
}

.notification__number {
  background: #FF453A;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: abeezeeitalic;
  font-size: 12px;
  padding: 0px 5px;
  margin-left: 10px;
}

.notification__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 24px;
}

.notification__txt1 {
  font-family: abeezeeitalic;
  font-size: 20px;
  line-height: 120%;
  color: #FBFBFD;
  text-align: center;
  margin-bottom: 10px;
}

.notification__txt2 {
  font-family: abeezeeitalic;
  font-size: 16px;
  line-height: 120%;
  color: #C5C5C5;
  text-align: center;
  margin-bottom: 60px;
}

.notification__select select {
  background: #3C3B45;
  border: 1px solid #56555B;
  border-radius: 4px;
  padding: 8px 4px 8px 8px;
  font-family: abeezeeitalic;
  font-size: 13px;
  color: #ffffff;
  outline: none !important;
}

.logo {
  font-family: robotobold;
  font-weight: 600;
  font-size: 34px;
  color: #FBFBFD;
  text-align: center;
  margin-top: 15px;
}
@media screen and (max-width: 1300px) {
  .logo {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1200px) {
  .logo {
    font-size: 28px;
  }
}

.menu {
  margin-top: 100px;
}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu ul li {
  padding: 12px 0px;
  list-style-type: none;
  padding-left: 20px;
}
.menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: abeezeeitalic;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
.menu ul li a img {
  margin-right: 14px;
}
@media screen and (max-width: 1200px) {
  .menu ul li a {
    font-size: 14px;
  }
}
.menu ul li:hover {
  background: #393840;
  position: relative;
}
.menu ul li:hover::after {
  content: "";
  width: 4px;
  height: 44px;
  background: #58BF44;
  border-radius: 0px 8px 8px 0px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu ul .active {
  background: #393840;
  position: relative;
}
.menu ul .active::after {
  content: "";
  width: 4px;
  height: 44px;
  background: #58BF44;
  border-radius: 0px 8px 8px 0px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1300px) {
  .menu {
    margin-top: 0;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu ul li {
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu ul li:hover::after {
    content: "";
    width: 100%;
    height: 4px;
    background: #58BF44;
    border-radius: 0px 8px 8px 0px;
    -webkit-transform: none;
            transform: none;
    display: block;
    position: absolute;
    top: inherit;
    left: 0;
    right: 0;
    border-radius: 5px;
  }
  .menu ul .active::after {
    content: "";
    width: 100%;
    height: 4px;
    background: #58BF44;
    border-radius: 0px 8px 8px 0px;
    -webkit-transform: none;
            transform: none;
    display: block;
    position: absolute;
    top: inherit;
    left: 0;
    right: 0;
    border-radius: 5px;
  }
}

.mobile__menu {
  background: #2F2E38;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  width: 70%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.menu__opened {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.burger {
  display: none;
  position: relative;
}
.burger span {
  width: 35px;
  height: 4px;
  margin-bottom: 4px;
  background: #ffffff;
  border-radius: 3px;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burger span:nth-last-child(1) {
  margin-bottom: 0px;
}
@media screen and (max-width: 1024px) {
  .burger {
    display: block;
  }
}

.burger__close {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
}
.burger__close span {
  position: absolute;
}
.burger__close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger__close span:nth-child(2) {
  display: none;
}
.burger__close span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.block__title {
  font-family: mazzardh_bold;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -12px;
}
@media screen and (max-width: 1440px) {
  .products__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .products__row {
    margin-right: 0;
  }
}

.product {
  border: 1px solid #56555B;
  border-radius: 16px;
  background: #2F2E38;
  margin-right: 12px;
  width: calc(33.3333333333% - 12px);
  margin-bottom: 12px;
}
.product .banner1__txt2 {
  font-family: mazzardl_medium;
  margin-bottom: 38px;
}
.product .banner1__lessons {
  font-family: mazzardl_medium;
}
.product .banner1__hours {
  font-family: mazzardl_medium;
}
.product .progress__name {
  font-family: mazzardl_medium;
}
.product .progress__number {
  font-family: mazzardl_medium;
}
.product:nth-child(3n+3) {
  margin-right: 0;
}
.product .progress__bar {
  margin-bottom: 38px;
}
.product .button1 {
  margin-right: 0;
  margin-bottom: 18px;
}
.product .button1::before {
  display: none;
}
.product .green .progress__number {
  color: #58BF44;
}
.product .green .bar {
  width: 100%;
}
.product .green .bar__numb {
  width: 0%;
}
@media screen and (max-width: 1440px) {
  .product {
    width: calc(50% - 12px);
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 600px) {
  .product {
    width: 100%;
    margin-right: 0;
  }
}

.product__header {
  position: relative;
  overflow: hidden;
  height: 60px;
  border-radius: 16px 16px 0px 0px;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pr__header {
  z-index: 1;
  position: relative;
}

.lock {
  z-index: 1;
  position: relative;
}

.product__img {
  position: relative;
  overflow: hidden;
  height: 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 16px 16px 0px 0px;
}
.product__img img {
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.product__content {
  padding: 18px;
}

.product__title {
  font-family: mazzardh_bold;
  font-size: 20px;
  color: #ffffff;
  line-height: 120%;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.pr__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skidka {
  background: #6922FF;
  border-radius: 4px;
  margin-left: 7px;
  font-family: mazzardl_medium;
  font-size: 14px;
  color: #ffffff;
  padding: 4px;
}

.banner2 {
  background: #2F2E38 url(../img/banner2.jpg) no-repeat 50%;
  background-size: cover;
  border: 1px solid #56555B;
  border-radius: 16px;
  padding: 35px;
  margin-bottom: 20px;
}
.banner2 .button1:before {
  display: none;
}
@media screen and (max-width: 600px) {
  .banner2 {
    padding: 18px;
  }
}

.banner2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .banner2__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner2__txt1 {
  font-family: mazzardl_regular;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 15px;
}

.banner2__txt2 {
  font-family: mazzardh_bold;
  font-size: 30px;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .banner2__txt2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.video__block {
  max-height: 467px;
  border-radius: 16px;
  margin-bottom: 24px;
}
.video__block video {
  width: 100%;
  max-height: 467px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.sidelist {
  border-radius: 16px;
  background: rgb(47, 46, 56);
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}
.sidelist .banner1__lessons::before {
  background: #dadada;
}
.sidelist .banner1__hours::before {
  background: #dadada;
}
.sidelist::-webkit-scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  height: 2px; /* высота для горизонтального скролла */
  background-color: transparent;
  border-radius: 4px;
}
.sidelist::-webkit-scrollbar-thumb {
  background-color: #56555B;
  position: relative;
  padding-right: 10px !important;
  border-radius: 4px;
}
@media screen and (max-width: 1024px) {
  .sidelist {
    height: auto;
    overflow-y: hidden;
  }
}

.sidelist__header {
  padding: 24px;
  background: url("../img/lesson__bg.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px 16px 0 0;
}

.sidelist__block {
  padding: 24px;
}

.sidelist__name {
  font-family: abeezeeitalic;
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  color: #FBFBFD;
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .sidelist__name {
    font-size: 20px;
  }
}

.block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.block__header::after {
  content: "";
  background: url("../img/arrow__down.svg") no-repeat;
  width: 14px;
  height: 9px;
  display: block;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.block__content {
  border-bottom: 1px solid #56555B;
  padding-bottom: 16px;
}

.block__lesson {
  font-family: abeezeeitalic;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: #999999;
  margin-bottom: 5px;
}

.block__name {
  font-family: abeezeeitalic;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: #FBFBFD;
  margin-bottom: 5px;
}
@media screen and (max-width: 1024px) {
  .block__name {
    font-size: 20px;
  }
}

.start__lesson {
  text-decoration: none;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.block__hidden {
  padding-top: 16px;
  font-family: abeezeeitalic;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: #999999;
}

.opened .block__header::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.workspace__content {
  margin-bottom: 24px;
}
.workspace__content p {
  font-family: abeezeeitalic;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: #C5C5C5;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .workspace__content p {
    font-size: 15px;
  }
}

.workspace__title {
  font-family: abeezeeitalic;
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .workspace__title {
    font-size: 24px;
  }
}

.send__homework {
  font-family: abeezeeitalic;
  background: #3C3B45;
  border: 1px solid #56555B;
  border-radius: 4px;
  font-size: 13px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  padding: 8px 7px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.send__homework:hover {
  background: #58BF44;
}

.test {
  background: #2F2E38;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 24px;
}

.test__header {
  border-bottom: 1px solid #56555B;
  border-radius: 4px;
  margin-bottom: 24px;
  padding-bottom: 48px;
}

.test__title {
  font-family: mazzardh_bold;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .test__title {
    font-size: 20px;
  }
}

.test__stages {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.test__stages::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #999999;
  display: block;
}

.stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -5px;
}
.stage::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #2F2E38;
  border: 2px solid #999999;
  display: block;
}
.stage span {
  font-family: mazzardh_bold;
  font-weight: 700;
  font-size: 16px;
  color: #C5C5C5;
  position: absolute;
  top: 17px;
  left: -5px;
}

.done::before {
  content: "";
  background: #58BF44 url("../img/done.svg") no-repeat center center;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: none;
  display: block;
}
.done span {
  color: #58BF44;
}

.warning::before {
  content: "";
  background: #FF453A url("../img/warning.svg") no-repeat center center;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: none;
  display: block;
}
.warning span {
  color: #FF453A;
}

.current {
  top: -9px;
}
.current::before {
  content: "";
  background: #FFE822;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: none;
  display: block;
}
.current span {
  color: #FFE822;
  top: 21px;
  left: -3px;
}

.test__question {
  font-family: mazzardh_bold;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 12px;
}
@media screen and (max-width: 1024px) {
  .test__question {
    font-size: 16px;
  }
}

.answer {
  font-family: mazzardh_medium;
  font-size: 16px;
  line-height: 19.2px;
  color: #C5C5C5;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.answer::before {
  content: "";
  min-width: 22px;
  min-height: 23px;
  background: url("../img/a3.svg") no-repeat;
  display: block;
  margin-right: 16px;
}
@media screen and (max-width: 1024px) {
  .answer {
    font-size: 14px;
  }
}

.success__open {
  color: #58BF44;
}
.success__open::before {
  content: "";
  min-width: 22px;
  min-height: 23px;
  background: url("../img/a1.svg") no-repeat;
  display: block;
  margin-right: 16px;
}

.wrong__open {
  color: #FF453A;
}
.wrong__open::before {
  content: "";
  min-width: 22px;
  min-height: 23px;
  background: url("../img/a2.svg") no-repeat;
  display: block;
  margin-right: 16px;
}

.answer__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.answer__button::before {
  display: none;
}

.hidden__content1 {
  display: none;
}

.content--active {
  display: block;
}

.container--tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px !important;
  position: relative;
}
.container--tabs::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #3C3B45;
  position: absolute;
  bottom: 0px;
  z-index: -1;
}
.container--tabs .tab {
  font-family: abeezeeitalic;
  font-size: 20px;
  color: #c5c5c5;
  padding: 0px 20px;
  cursor: pointer;
  padding-bottom: 10px;
}
.container--tabs .tab--active {
  border-bottom: 2px solid #58BF44;
  border-radius: 8px 8px 0px 0px;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .container--tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container--tabs .tab {
    margin-bottom: 10px;
  }
  .container--tabs::after {
    display: none;
  }
}

.in__work {
  overflow-y: hidden;
  height: auto;
}

.select__block {
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .select__block select {
    width: 100%;
  }
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work {
  width: 31%;
}
@media screen and (max-width: 1024px) {
  .work {
    width: 100%;
    margin-bottom: 24px;
  }
}

.work__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.type {
  padding: 8px 12px;
  border-radius: 8px;
  font-family: abeezeeitalic;
  color: #ffffff;
}

.work__sent .type {
  background: rgba(255, 34, 74, 0.25);
}

.work__verification .type {
  background: rgba(234, 210, 0, 0.25);
}

.work__verifed .type {
  background: rgba(93, 201, 72, 0.25);
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.stars .star {
  margin-right: 5px;
}

.send__form {
  font-family: mazzardh_medium;
  font-size: 13px;
  text-transform: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}
.send__form::before {
  display: none;
}

.personal__form {
  background: #2F2E38;
  border-radius: 16px;
  padding: 24px;
  max-width: 612px;
}

.personal__title {
  font-family: mazzardh_bold;
  font-size: 30px;
  margin-bottom: 16px;
  color: #FBFBFD;
  letter-spacing: 1px;
  line-height: 120%;
}
@media screen and (max-width: 600px) {
  .personal__title {
    font-size: 20px;
  }
}

.personal__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.personal__photo {
  margin-right: 24px;
}
.personal__photo img {
  min-width: 135px;
  min-height: 135px;
  width: 135px;
  height: 135px;
  border-radius: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 600px) {
  .personal__photo img {
    min-width: 85px;
    min-height: 85px;
    width: 85px;
    height: 85px;
  }
}

#file-upload {
  display: none !important;
}

.custom-file-upload {
  cursor: pointer;
  margin-bottom: 24px;
}

.upload__txt {
  font-family: mazzardh_medium;
  font-size: 13px;
  color: #c5c5c5;
  letter-spacing: 1px;
}

.input__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}
.input__block label {
  display: block;
  font-family: mazzardh_medium;
  font-size: 13px;
  margin-bottom: 5px;
  color: #c5c5c5;
  letter-spacing: 1px;
}
.input__block input {
  background: #22222A;
  border: 1px solid #56555B;
  border-radius: 6px;
  outline: none;
  font-family: mazzardh_medium;
  font-size: 14px;
  color: #ffffff;
  padding: 12px 16px;
}