@font-face {
  font-family: 'hm';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: local('../fonts/HelveticaNeueCyr-Medium'), url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'hh';
  src: url('../fonts/HelveticaNeueCyr-Heavy.eot');
  src: local('../fonts/HelveticaNeueCyr-Heavy'), url('../fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Heavy.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'hbl';
  src: url('../fonts/HelveticaNeueCyr-Black.eot');
  src: local('../fonts/HelveticaNeueCyr-Black'), url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'hul';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
  src: local('../fonts/HelveticaNeueCyr-UltraLight'), url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'), url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'hr';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: local('../fonts/HelveticaNeueCyr-Roman'), url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hb';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: local('../fonts/HelveticaNeueCyr-Bold'), url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'hl';
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src: local('../fonts/HelveticaNeueCyr-Light'), url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ht';
  src: url('../fonts/HelveticaNeueCyr-Thin.eot');
  src: local('../fonts/HelveticaNeueCyr-Thin'), url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: hr;
  color: #212121;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 375px;
  width: 100%;
  margin: auto;
  position: relative;
}
::placeholder {
  font-size: 14px;
  color: #abaaaa;
}
header {
  padding: 11.5px 0px;
  background: #141414;
}
.top__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.search {
  cursor: pointer;
}
.search .svg {
  width: 21px;
  height: 21px;
}
.search .svg path {
  fill: #ffffff;
}
.search:hover .svg path {
  fill: #ffffff;
}
.logo {
  font-size: 25px;
  font-family: hm;
  color: #ffffff;
}
.menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.menu .menu__item {
  list-style-type: none;
  margin-right: 50px;
}
.menu .menu__item:nth-last-child(1) {
  margin-right: 0px;
}
.menu .menu__item .active {
  color: #cf5249;
  text-decoration: none;
}
.menu .menu__item .menu__link {
  text-decoration: none;
  color: #212121;
  transition: 0.5s;
}
.menu .menu__item .menu__link:hover {
  color: #cf5249;
}
.burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.burger span {
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  background: #ffffff;
  transition: 0.5s;
}
.burger span:nth-last-child(1) {
  margin-bottom: 0;
}
.burger:hover span {
  background: #cf5249;
}
.burger:hover span:nth-child(2) {
  width: 20px;
}
.burger:hover span:nth-child(3) {
  width: 10px;
}
.enter .svg path {
  fill: #ffffff;
}
.mobile__menu {
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 30px;
  position: relative;
}
.mobile__menu ul {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}
.mobile__menu ul .hidden__active {
  margin-bottom: 25px;
}
.mobile__menu ul .hidden__active a {
  color: #cf5249;
}
.mobile__menu ul li {
  list-style-type: none;
  margin-bottom: 5px;
}
.mobile__menu ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #212121;
}
.content__row {
  display: flex;
  justify-content: space-between;
}
.content__main {
  width: 100%;
}
.menu__content {
  overflow: hidden;
  padding-left: 20px;
}
.menu__content ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  width: -webkit-max-content;
  width: max-content;
  overflow: auto;
  white-space: nowrap;
}
.menu__content ul li {
  list-style-type: none;
  background: #ffe2e0;
  border-radius: 10px;
  padding: 0px 0px;
  box-sizing: border-box;
  transition: 0.5s;
  display: inline-block;
}
.menu__content ul li a {
  color: #cf5249;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 11px;
  padding: 5px 10px;
  display: flex;
  transition: 0.5s;
}
.menu__content ul li:hover {
  background: #cf5249;
}
.menu__content ul li:hover a {
  color: #ffffff;
}
.news__main__title {
  font-size: 15px;
  font-family: hm;
  text-transform: uppercase;
  margin: 0;
}
.news__title {
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
}
.news__title a {
  transition: 0.5s;
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  font-family: hm;
  line-height: 23px;
}
.news__img {
  overflow: hidden;
  height: 139px;
}
.news__img img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
  display: flex;
}
.news__top {
  display: flex;
  margin-bottom: 15px;
  padding-right: 20px;
}
.news__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  padding-left: 15px;
}
.play .svg {
  width: 36px;
  height: 36px;
}
.play .svg path {
  fill: #cf5249;
  transition: 0.5s;
}
.play:hover .svg path {
  fill: #da231b;
}
.favorite {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #ccc;
}
.favorite .svg {
  width: 17px;
  height: 17px;
}
.favorite .svg path {
  fill: #cf5249;
}
.record {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #ccc;
}
.record img {
  width: initial;
}
.news__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.news:hover .news__title a {
  color: #cf5249;
}
.news:hover .news__img img {
  transition: 0.5s;
  transform: scale(1.1);
}
.news__block {
  margin-bottom: 50px;
}
.news__main__img {
  margin-bottom: 30px;
}
.sidebar__block .news {
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}
.sidebar__block .news .news__top {
  justify-content: space-between;
}
.sidebar__block .news .news__buttons {
  padding-left: 0px;
}
.sidebar__block .news__title a {
  font-size: 14px;
}
.first {
  background: #f6f6f6;
  position: relative;
}
.sidebar__title {
  font-size: 17px;
  font-family: 'hm';
  padding-top: 40px;
  margin-bottom: 35px;
  padding-left: 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.hidden__block {
  background: #f6f6f6;
  width: 1000%;
  height: -webkit-fill-available;
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  z-index: 1;
}
.active__news {
  position: relative;
}
.active__news .active__title {
  font-family: hm;
  font-size: 25px;
  color: #ffffff;
  position: absolute;
  top: 35px;
  left: 35px;
}
.news__line {
  width: 100%;
  height: 1px;
  background: #d8d8d8;
  padding: 0px 20px;
  box-sizing: border-box;
  margin-top: 15px;
}
.news__block__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 20px;
}
.news__all {
  font-size: 12px;
  color: #7f7d7d;
  text-decoration: none;
  display: flex;
  border: 1px solid #7f7d7d;
  border-radius: 25px;
  padding: 7px 14px;
}
.slider__block .news {
  width: 100%;
}
.slider__title {
  display: flex;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 60px;
}
.slider__title .line {
  height: 1px;
  width: -webkit-fill-available;
  background: #e4e4e4;
}
.slider__txt {
  font-size: 20px;
  font-family: 'hm';
  text-transform: uppercase;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
}
.appendDots {
  margin-top: 40px;
  margin-bottom: 85px;
}
.appendDots ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.appendDots .slick-active {
  background: #cf5249;
}
.appendDots li {
  list-style-type: none;
  background: #d3d3d3;
  height: 3px;
  width: -webkit-fill-available;
  box-sizing: border-box;
  margin-right: 10px;
  cursor: pointer;
}
.appendDots li button {
  font-size: 0px;
  background: transparent;
  outline: none;
  border: 0;
}
.main__container__title {
  font-family: hm;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  margin: 25px 0;
  padding: 0 20px;
}
.main__img {
  float: left;
  margin-right: 25px;
  margin-bottom: 30px;
}
.text__block p {
  font-size: 15px;
  line-height: 30px;
  color: #515151;
  margin: 0;
  margin-bottom: 50px;
}
.text__block__buttons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.text__block__buttons a {
  background: #cf5249;
  font-size: 10px;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.5s;
}
.text__block__buttons a:hover {
  background: #da231b;
}
.single__main__row {
  display: flex;
  justify-content: space-between;
}
.single__main__left {
  width: 100%;
  position: relative;
  height: 235px;
}
.single__main__left img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.single__main__right {
  width: 100%;
}
.single__txt p {
  font-size: 14px;
  line-height: 23px;
  color: #515151;
  text-align: center;
}
/*player*/
input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.15, #cf5249), color-stop(0.15, #C5C5C5));
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #cf5249;
  border: 1px solid #cf5249;
  height: 13px;
  width: 13px;
  border-radius: 50px;
}
.player {
  background: #f7f7f7;
  min-height: 235px;
  border-radius: 0px;
  padding: 25px 20px;
  box-sizing: border-box;
}
.palyer__top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.undo .svg {
  width: 36px;
  height: 26px;
}
.player__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.download .svg {
  width: 20px;
  height: 18px;
}
.view .svg {
  width: 25px;
  height: 15px;
}
.playlist .svg {
  width: 22px;
  height: 24px;
}
.check .svg {
  width: 18px;
  height: 14px;
}
.player__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
a.back img {
  width: 35px;
  object-fit: cover;
}
.back {
  margin-right: 5px;
}
.close__button {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #cf5249;
}
.close__button .svg {
  width: 10px;
  height: 10px;
  object-fit: cover;
}
.close__button .svg path {
  fill: #ffffff;
}
.buttons__top {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
}
.category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.category .news {
  width: 100%;
}
.category__title {
  font-family: hm;
  font-size: 15px;
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
}
.main__container .menu__content ul {
  justify-content: flex-start;
}
.main__container .menu__content ul li {
  margin-right: 10px;
}
.loading {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.loading .svg {
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.tell .svg {
  width: 16px;
  height: 15px;
}
.mail .svg {
  width: 15px;
  height: 11px;
}
.contacts__row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contacts__left {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.contacts__right {
  width: 100%;
}
.contacts__txt1 {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 25px;
  padding: 0 20px;
}
.contacts__tel a {
  font-size: 17px;
  text-decoration: none;
  color: #cf5249;
}
.contacts__tel {
  display: flex;
  margin-bottom: 50px;
}
.contacts__tel__ico {
  display: flex;
  margin-right: 20px;
}
.contacts__tel__content {
  display: flex;
  flex-direction: column;
}
.contacts__tel__content span {
  font-size: 14px;
  margin-top: 10px;
}
.main__container {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
.new1 {
  padding: 0 20px;
  text-align: left;
}
.bo {
  margin-top: 0px !important;
  margin-bottom: 10px;
  font-weight: bold;
}
.order__title {
  font-family: 'hm';
  font-size: 20px;
  margin-bottom: 20px;
}
.order__txt {
  font-size: 14px;
  margin-bottom: 30px;
  color: #abaaaa;
}
.order__reklama {
  background: #f7f7f7;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 0px;
}
.inputs__row {
  display: flex;
  flex-direction: column;
}
.inputs__row input {
  font-size: 14px;
  color: #abaaaa;
  background: #ffffff;
  border: none;
  padding: 20px;
  outline: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.inputs__row button {
  font-size: 14px;
  text-transform: uppercase;
  background: #cf5249;
  color: #ffffff;
  transition: 0.5s;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 20px 15px;
  cursor: pointer;
  width: 100%;
}
.inputs__row button:hover {
  background: #da231b;
}
.support__txt {
  color: #abaaaa;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 0 20px;
}
.support {
  padding: 0 20px;
  box-sizing: border-box;
}
.support ::placeholder {
  font-size: 14px;
  color: #6e6e6e;
}
.support .support__input,
.support .support__textarea {
  margin-bottom: 20px;
}
.support input {
  background: #e4e4e4;
  font-size: 14px;
  color: #6e6e6e;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}
.support textarea {
  background: #e4e4e4;
  font-size: 14px;
  color: #6e6e6e;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 20px;
  height: 194px;
  box-sizing: border-box;
  width: 100%;
}
.support button {
  font-size: 14px;
  text-transform: uppercase;
  background: #cf5249;
  color: #ffffff;
  transition: 0.5s;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 20px 15px;
  cursor: pointer;
  width: 100%;
}
.support button:hover {
  background: #da231b;
}
section.content {
  flex: 1 0 auto;
}
.news__main__title {
  margin-top: 30px;
  padding: 0 20px;
}
.reg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.register__title {
  font-family: 'hb';
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}
.register ::placeholder {
  font-size: 14px;
  color: #6e6e6e;
}
.register .register__input {
  margin-bottom: 20px;
}
.register input {
  background: #e4e4e4;
  font-size: 14px;
  color: #6e6e6e;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 20px;
  box-sizing: border-box;
  width: 330px;
}
.register textarea {
  background: #e4e4e4;
  font-size: 14px;
  color: #6e6e6e;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 20px;
  height: 194px;
  box-sizing: border-box;
  width: 620px;
}
.register button {
  font-size: 14px;
  text-transform: uppercase;
  background: #cf5249;
  color: #ffffff;
  transition: 0.5s;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 20px 15px;
  cursor: pointer;
  width: 330px;
}
.register button:hover {
  background: #da231b;
}
.register .register__check {
  width: 330px;
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
}
.register .register__check a {
  color: #cf5249;
  text-decoration: none;
}
footer {
  padding: 15px 0;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.copy {
  flex-grow: 1;
  font-size: 14px;
  color: #bebebe;
  font-family: 'Open Sans';
}
.footer__menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.footer__menu ul li {
  list-style-type: none;
  margin-right: 25px;
}
.footer__menu ul li:nth-last-child(1) {
  margin-right: 0px;
}
.footer__menu ul li a {
  font-size: 14px;
  color: #bebebe;
  font-family: 'Open Sans';
  text-decoration: none;
}
.footer__menu ul li a:hover {
  color: #ffffff;
}
.open {
  width: 100%;
  height: -webkit-fill-available;
  position: fixed;
  z-index: 1000;
  top: 0;
  background: #fff;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.opened {
  visibility: visible;
  opacity: 1;
}
.close {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 5px;
  rtop: 0px;
  right: 20px;
  background: #cf5249;
  cursor: pointer;
}
.close .svg {
  width: 11px;
  height: 11px;
}
.close .svg path {
  fill: #ffffff;
}
.hid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.hidden__row {
  display: flex;
  justify-content: center;
}
.hiiden__menu {
  width: 600px;
  margin: 0 auto;
}
.hiiden__menu ul {
  padding: 0;
  margin: 0;
  margin-right: 50px;
}
.hiiden__menu ul:nth-last-child(1) {
  margin-right: 0;
}
.hiiden__menu ul .hidden__active a {
  color: #cf5249;
}
.hiiden__menu ul li {
  list-style-type: none;
  margin-bottom: 25px;
}
.hiiden__menu ul li a {
  font-family: hb;
  color: #212121;
  text-decoration: none;
  transition: 0.5s;
}
.hiiden__menu ul li a:hover {
  color: #cf5249;
}
.item__search button {
  border: none;
  outline: none;
  background: #e6e6e6;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
}
.item__search button .svg {
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.item__search button .svg path {
  fill: #000000;
}
input.sear {
  width: 90%;
  border: none;
  outline: none;
  background: #e6e6e6;
  border-radius: 15px 0px 0px 15px;
  padding: 15px 20px;
  box-sizing: border-box;
}
form.item__search {
  display: flex;
}
