
@media (max-width: 1170px) {

    .container {
        padding: 0 20px;
    }

    .video__block {
        width: 450px;
    }

    .unitech__row {
        display: flex;
        justify-content: space-between;
        margin-right: 0px;
    }

    .contentWrapper {
        margin-right: 0;
    }
    

    .unitech__row__item {
        width: 48%;
        margin-right: 0;
    }

    .footer__row {
        flex-direction: column;


        .menu__list {
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 25px;

            .menu__item {
                margin-right: 0;
                width: calc(100% / 3);
                .menu__link {


                }
            }
        }
    }

    footer {
        padding: 30px 0;
    }

    .lines {
        display: none;
    }

}

@media (max-width: 992px) {

    .mobile__menu {
        display: flex;
        position: fixed;
        width: 80%;
        top: 0;
        height: 100vh;
        background: #000000;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease 0s;
        transform: translate(-100%, 0);

        .menu__list {
            flex-direction: column;
            align-items: center;

            .menu__item {
                margin-right: 0;
                margin-bottom: 15px;

                .menu__link {
                    color: #ffffff;
                    font-size: 26px;
                }

            }
        }


    }

    .opened {
        transform: translate(0, 0);
    }


    .close {
        position: absolute;
        right: 20px;
        top: 20px;

        &::after {
            content: "";
            mask-image: url(../images/close.svg);
            mask-repeat: no-repeat;
            mask-size: cover;
            width: 25px;
            height: 25px;
            background: #ffffff;
            display: block;
        }
    }


    .burger {
        display: flex;
        flex-direction: column;
    }

    .topline {
        margin-top: 30px;
        margin-bottom: 70px;
    }


    .header__content {
        flex-direction: column;
    }

    .header__logo {
        margin: 0 auto;
    }

    .header__title {
        margin: 0 auto;
    }

    .header__txt {
        text-align: center;
        
    }

    .header__content--left {
        width: 100%;
        margin-bottom: 25px;
    }

    .video__block {
        margin: 0 auto;
    }

    .header {
        padding-bottom: 50px;
    }



    .about__row__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .product__row {
        flex-direction: column;
        
    }

    .product__left {
        width: 100%;
        margin-bottom: 30px;
    }

    .product__right {
        width: 100%;
    }



}

@media (max-width: 768px) {

    

}

@media (max-width: 600px) {

        .video__block {
            width: 100%;
            height: 200px;
        }

        .header__title {
            font-size: 48px;

            &::after {
                bottom: 20px;
                height: 12px;
            }
        }

        .title {
            font-size: 48px;
            margin-bottom: 50px;

            line-height: 40px;
        }

        section {
            padding: 30px 0;
        }

        .about__row__item {
            padding: 15px;
        }



        .unitech__row__item {
            width: 100%;
            margin-right: 0;
        }

        .contentWrapper {
            margin-right: 0;
            margin-top: 30px;
        }

        .unitech__title {
            font-size: 25px;
        }

        .buttonWrapper {

            .tab-button {
                margin-right: 2px;
                font-size: 14px;
            }

        }

        .unitech__row__item {
            padding: 20px;
        }

        .product__left {
            padding: 20px;

            p {
                margin-bottom: 25px;
            }
        }

        .product__right {
            padding: 20px;
        } 

        .right__txt2 {
            font-size: 40px;
        }

        .right__link  {
            font-size: 16px;
        }

        .footer__row {
            flex-direction: column;
    
    
            .menu__list {
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 25px;
    
                .menu__item {
                    margin-right: 0;
                    width: 100%;
                    .menu__link {
    
    
                    }
                }
            }
        }
    

}