* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section1 {
  padding: 100px 0;
  background: #010E2E url("photo.png") no-repeat;
}

.section1__title {
  text-align: center;
  font-size: 60px;
  color: #fff;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .section1__title {
    font-size: 30px;
  }
}

.section1__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 1024px) {
  .section1__row {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .section1__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.section1__row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(2, 49, 78, 0.72);
  -webkit-backdrop-filter: blur(21px);
          backdrop-filter: blur(21px);
  color: #fff;
  text-align: center;
  padding: 20px 30px;
}