@import "reset";
@import "swiper";
@import "fancybox";


.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* start header */
@import "header";
/* end header */

/* start slider */
@import "slider";
/* end slider */

/* start pop-up */
@import "pop-up";
/* end pop-up */


