.section1 {
    background: url('../img/section1.jpg') no-repeat;
    background-size: cover;
    padding-top: 179px;
}

.section1__title {
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    
    color: #ffffff;
    line-height: 110%;

    @media screen and (max-width: 1024px) {
        font-size: 45px;
        margin-bottom: 20px;
    }
}

.section1__txt {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
    line-height: 110%;

    @media screen and (max-width: 1024px) {
        margin-bottom: 30px;
    }
}

.section1__row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }
}

.appstore {
    position: absolute;
    top: 0;

    @media screen and (max-width: 1024px) {
        position: relative;
        margin-bottom: 20px;
    }
}

.screen {
    margin-right: 120px;

    &:nth-last-child(1) {
        margin-right: 0;
    }


    @media screen and (max-width: 1024px) {
        margin-right: 0;

        &:nth-last-child(1) {
            display: none;
        }
        &:nth-last-child(2) {
            display: none;
        }
    }
}