.footer__section {
    flex: 0 0 auto;
    height: 100%;
    position: relative;
    background: #191919 url('../img/wall.png');
    border-radius: 80px 80px 0 0;
    padding: 56px 0;

    .footer {
        margin-top: 0px;
    }
}

.pages {
    position: relative;
    border-radius: 0px 0px 80px 80px;
    padding-top: 170px;
    padding-bottom: 120px;
    overflow: hidden;
    min-height: 750px;

    .container {
        z-index: 1;
        position: relative;
    }

    @media screen and (max-width: 1024px) {
        padding-top: 111px;
    }
}

.pages__title {
    font-family: 'Benzin-ExtraBold';
    font-size: 70px;
    line-height: 75px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 50px;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
        font-size: 44px;
        line-height: 48px;
        text-align: center;
        margin-bottom: 25px;
    }
}

.pages__content {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;

    p {
        font-size: 17px;
        color: #e8e8e8;
        line-height: 23px;
        margin-bottom: 30px;
       

        @media screen and (max-width: 1024px) {
            
        }
    }

    .slide__readmore {
        max-width: 100%;
    }

    a {
        color: #00966E;
        text-decoration: none;
        word-break: break-all;
    }
}

.line2 {
    font-family: 'Benzin-ExtraBold';
    font-size: 75px;
    color: #00966E;
}