@font-face {
    font-family: 'interbold';
    src: url('../fonts/inter-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'interlight';
    src: url('../fonts/inter-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'intermedium';
    src: url('../fonts/inter-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'interregular';
    src: url('../fonts/inter-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}